@use "app.scss";

@forward "stuff/custom/no-scrollbar";

:root {
--disable-animations: 2s channel-unread infinite;
--user-buttons-spacing: 8px;
--user-buttons-color: #096DC0;
--avatar-radius: 5px;  
--status-radius: 3px; 
--server-radius: 8px;
--colored-emoji: grayscale(0%);
--mention-color: #F04747;
--unread-color: #7289DA;
--mention-color-bar: #C66262;
--mention-color-background: #C662621F;
--mention-color-hover: #C6626226;
--chat-buttons: #7289DA;
--spotify-color: #1EDC62 !important;
--online: #43B581;
--iddle: #FAA61A;
--dnd: #F04747;
--offline: #747F8D;
--streaming: #593695;
--playing: #7289da;
--listening: #1db653;
--role-circle: 5px;
--discord-logo: none;

}

.theme-dark {
    --modal-background: #23283d;
    --background-tertiary: #101320;
    --background-secondary: #1e2233;
    --background-secondary-alt: #191f2e;
    --background-primary: #23283d;
    --background-mobile-primary: #23283d;
    --background-mobile-secondary: #1e2233;
    --channeltextarea-background: #191f2e;
    --background-accent: #6E85D3;
    --background-message-hover: transparent;
    --background-modifier-hover: #00000010;
    --background-modifier-active: #0000001a;
    --background-modifier-selected: #0000001f;
    --deprecated-card-bg: #12141f63;
    --background-floating: #101320;
    --deprecated-quickswitcher-input-background:#101320;
    --elevation-low: none;
    --scrollbar-auto-thumb: #121722;
    --scrollbar-auto-track: #191f2e;
    --scrollbar-thin-thumb: #141925;
    --toast-background: #1e2233 !important;
    --toast-header: #101320 !important;
    --toast-contents: #23283d !important;
    --activity-card-background: #101320;
    --input-background: #1e2233;
}

.theme-light {
    --modal-background: #23283d;
    --background-tertiary: #101320;
    --background-secondary: #1e2233;
    --background-secondary-alt: #191f2e;
    --background-primary: #23283d;
    --background-accent: #6E85D3;
    --background-modifier-hover: #262b41;
    --background-modifier-active: #262b41;
    --header-primary: #fff;
    --header-secondary: #b1b5b9;
    --text-normal: #8e9297;
    --interactive-active: #fff;
    --interactive-hover: #b1b5b9;
    --input-background: var(--background-secondary-alt);
}