/* -- Guild header popout -- */
#guild-header-popout .labelContainer-1BLJti { flex-direction: row-reverse;}
#guild-header-popout .iconContainer-2-XQPY { margin: 0 8px 0 0;}

/* Boost */
#guild-header-popout-premium-subscribe:hover .icon-LYJorE, #guild-header-popout-premium-subscribe:active:not(.hideInteraction-1iHO1O) .icon-LYJorE { color: #FF73FA;}
#guild-header-popout-premium-subscribe:hover, #guild-header-popout-premium-subscribe:active:not(.hideInteraction-1iHO1O) { background-color: #ff73fa34; border-radius: 5px 5px 0 0;}

/* Invite */
#guild-header-popout-invite-people:hover .icon-LYJorE, #guild-header-popout-invite-people:active:not(.hideInteraction-1iHO1O) .icon-LYJorE { color: #677BC4;}
#guild-header-popout-invite-people:hover, #guild-header-popout-invite-people:active:not(.hideInteraction-1iHO1O) { background-color: #677bc442; color: #677BC4;}

/* Settings */
#guild-header-popout-settings .icon-LYJorE, #guild-header-popout-settings:active:not(.hideInteraction-1iHO1O) .icon-LYJorE { color: #546E7A;}
#guild-header-popout-settings:hover, #guild-header-popout-settings:active:not(.hideInteraction-1iHO1O){ background-color: #546e7a36;}

/* Insights */
#guild-header-popout-insights .icon-LYJorE, #guild-header-popout-insights:active:not(.hideInteraction-1iHO1O) .icon-LYJorE { color: #1ABC9C;}
#guild-header-popout-insights:hover, #guild-header-popout-insights:active:not(.hideInteraction-1iHO1O) { background-color: #1abc9c38;}

/* Create channel */
#guild-header-popout-create-channel .icon-LYJorE, #guild-header-popout-create-channel:active:not(.hideInteraction-1iHO1O) .icon-LYJorE { color: #E91E63;}
#guild-header-popout-create-channel:hover, #guild-header-popout-create-channel:active:not(.hideInteraction-1iHO1O) { background-color: #e91e6238;}

/* Create category */
#guild-header-popout-create-category .icon-LYJorE, #guild-header-popout-create-category:active:not(.hideInteraction-1iHO1O) .icon-LYJorE { color: #EAA14E;}
#guild-header-popout-create-category:hover, #guild-header-popout-create-category:active:not(.hideInteraction-1iHO1O) { background-color: #eaa14e34;}

/* Notifications */
#guild-header-popout-notifications .icon-LYJorE, #guild-header-popout-notifications:active:not(.hideInteraction-1iHO1O) .icon-LYJorE { color: #FCD462;}
#guild-header-popout-notifications:hover, #guild-header-popout-notifications:active:not(.hideInteraction-1iHO1O){ background-color: #e9bb4832;}

/* Privacy */
#guild-header-popout-privacy .icon-LYJorE, #guild-header-popout-privacy:active:not(.hideInteraction-1iHO1O) .icon-LYJorE { color: #4a84d4;}
#guild-header-popout-privacy:hover, #guild-header-popout-privacy:active:not(.hideInteraction-1iHO1O) { background-color: #4a83d434;}

/* Nickname */
#guild-header-popout-change-nicknam .icon-LYJorE, #guild-header-popout-change-nickname:active:not(.hideInteraction-1iHO1O) .icon-LYJorE { color: #43B581;}
#guild-header-popout-change-nickname:hover, #guild-header-popout-change-nickname:active:not(.hideInteraction-1iHO1O) { background-color: #43b5823a;}

/* Hide muted channels */
#guild-header-popout-hide-muted-channels:hover svg > path:first-child { color: #5C6FB1;}
#guild-header-popout-hide-muted-channels:hover, #guild-header-popout-hide-muted-channels:active:not(.hideInteraction-1iHO1O) { background-color: #5c6eb141;}
#guild-header-popout-hide-muted-channels:hover svg > path:last-child { color: #fff;}

/* Leave */
#guild-header-popout-leave:hover .icon-LYJorE, #guild-header-popout-leave:active:not(.hideInteraction-1iHO1O) .icon-LYJorE { color: #F04747;}
#guild-header-popout-leave:hover, #guild-header-popout-leave:active:not(.hideInteraction-1iHO1O) { background-color: #f047472f; color: #F04747;}

/* Categories arrows */
.mainContent-2h-GEV .arrow-gKvcEx { display: none;}

/* -- Notification -- */
.container-1taM1r { background: var(--background-secondary) !important; z-index: 3;}
.unreadTop-3rAB3r { width: 100%; padding: 0; z-index: 2; top: -9px;}
.unreadBottom-1_LF_w { width: 100%; height: 15px; padding: 0;}

/* Mention gradient */
.unreadTop-3rAB3r > .unreadBar-3t3sYc.mention-1f5kbO { border-radius: 0; background: linear-gradient(var(--mention-color), #0000);}
.unreadBottom-1_LF_w > .unreadBar-3t3sYc.mention-1f5kbO { border-radius: 0; background: linear-gradient(#0000, var(--mention-color));}

/* Unread gradient */
.unreadTop-3rAB3r > .unreadBar-3t3sYc.unread-1xRYoj { border-radius: 0; background: linear-gradient(var(--unread-color), #0000);}
.unreadBottom-1_LF_w > .unreadBar-3t3sYc.unread-1xRYoj { border-radius: 0; background: linear-gradient(#0000, var(--unread-color));}
.unreadBar-3t3sYc > .text-2e2ZyG { display: none; }

/* Mention pill */
.mentionsBadge-3tC7Mi .numberBadge-2s8kKX { animation: 2s channel-mention infinite;}

/* Unread pill */
.unread-2lAfLh { 
    top: 54%; left: 5px; 
    width: 6px; height: 6px;
    background-color: var(--unread-color);
    border-radius: 10px; 
    animation: 2s channel-unread infinite;
}

@keyframes channel-mention {
    0% { box-shadow: 0 0 0 0 var(--mention-color);}
    70% { box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);}
    100% { box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);}}

@keyframes channel-unread {
    0% { box-shadow: 0 0 0 0 var(--unread-color);}
    70% { box-shadow: 0 0 0 4px rgba(0, 0, 0, 0);}
    100% { box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);}}

/* Game activity/call area */
.activityPanel-28dQGo, .container-1giJp5 { border-bottom: none; }

/* Hiding old user settings things */
.panels-j1Uci_ > .container-3baos1 > .nameTag-3uD-yy,
.panels-j1Uci_ > .container-3baos1 > .nameTag-3uD-yy > .subtext-3CDbHg { display: none;}
.panels-j1Uci_ > .container-3baos1 { height: 0;}

/* Adding role permissions into channel settings */
.theme-dark .autocompleteArrow-Zxoy9H, .theme-dark .header-2bNvm4 { background: var(--background-secondary-alt); }
.theme-dark .container-VSDcQc .sectionTag-pXyto9 { background: var(--background-secondary); }
.container-VSDcQc .headerText-3i6A8K { margin-left: 15px;}
.row-rrHHJU { padding: 0;}

/* Boost */
.theme-dark .perksModal-fSYqOq { background: var(--background-primary); }
.theme-dark .tierMarkerBackground-3q29am, .theme-dark .tierHeaderLocked-1s2JJz, .theme-dark .barBackground-2EEiLw, .theme-dark .icon-TYbVk4 { background: var(--background-secondary-alt); }
.option-96V44q.selected-rZcOL-, .tierBody-16Chc9, .perk-2WeBWW, .tierMarkerInProgress-24LMzJ { background: var(--background-secondary) !important; }