/* Server list */
.guilds-1SWlCJ .scroller-2TZvBN { contain: none !important;}
.wrapper-1Rf91z { margin-bottom: calc((var(--user-buttons-spacing) * 3) + 112px);}

/* Discover */
.pageWrapper-1PgVDX .scroller-1d5FgU { padding-left: 0;}
.discoverHeader-1TWTqG ~ .categoryItem-3zFJns { margin-left: 0;}
.discoverHeader-1TWTqG ~ .categoryItem-3zFJns .itemInner-3gVXMG { padding: 8px;}
.css-ix84ef-menu { background: var(--background-secondary-alt);}
.theme-dark .pageWrapper-1PgVDX, .theme-dark .css-1adxh11-control, .theme-dark .css-12hk9yc-control, .theme-dark .css-1emou8a-control { background: var(--background-secondary); }
.theme-light .root-1gCeng, .theme-light .footer-2gL1pp { box-shadow: none;}

/* Create a server modal */
.theme-light .lookFilled-1Gx00P.colorGrey-2DXtkV { background-color: var(--background-accent);}
.theme-light .contents-18-Yxp { color: #FFF;}

/* User buttons */  
.panels-j1Uci_ > .container-3baos1 > .flex-1xMQg5 {
    position: fixed;
    bottom: 12px; left: 20px;
    z-index: 1;
    flex-direction: column;
}
.panels-j1Uci_ > .container-3baos1 > .flex-1xMQg5 > * { margin-top: var(--user-buttons-spacing);}
.panels-j1Uci_ > .container-3baos1 > .flex-1xMQg5 > .button-14-BFJ { color: var(--user-buttons-color);}

/* GameActivity support */
#GameActivityToggleBtn {
    position: absolute; opacity: 0;
    left: -120px; bottom: -12px;
    width: 40px; height: 135px;
    transition: opacity 0.15s linear 0s;
    border-radius: 0 5px 5px 0;
}
.panels-j1Uci_ > .container-3baos1 > .flex-1xMQg5:hover #GameActivityToggleBtn { opacity: 1; left: 32px; background-color: var(--background-tertiary);}
#GameActivityToggleBtn .st0 { fill: var(--user-buttons-color);}

/* Notifications settings */
.inner-1ilYF7 > .modal-yWgWj- > .header-1TKi98, .modal-yWgWj- { background: var(--background-secondary); }
.inner-1ilYF7 > .modal-yWgWj- > .scrollerBase-289Jih { background: var(--background-secondary); }

/* Mention gradient */
.unreadMentionsBar-1VrBNe .text-2e2ZyG { display: none; }

/* Top */
.unreadMentionsIndicatorTop-gA6RCh { width: 100%; height: 50px; padding: 0; top: -7px;}
.unreadMentionsIndicatorTop-gA6RCh .unreadMentionsBar-1VrBNe { border-radius: 0; background: linear-gradient(var(--mention-color), #0000); transition: 0.3s;}
.unreadMentionsIndicatorTop-gA6RCh .unreadMentionsBar-1VrBNe:active { background: linear-gradient(var(--mention-color), #0000);}

/* Bottom */
.unreadMentionsIndicatorBottom-BXS58x { width: 100%; height: 15px; padding: 0;}
.unreadMentionsIndicatorBottom-BXS58x .unreadMentionsBar-1VrBNe { border-radius: 0; background: linear-gradient(#0000, var(--mention-color));}
.unreadMentionsIndicatorBottom-BXS58x .unreadMentionsBar-1VrBNe:active { background: linear-gradient(#0000, var(--mention-color));}

/* Mention pill */
.lowerBadge-29hYVK { top: 0; left: 0px; }
.lowerBadge-29hYVK .numberBadge-2s8kKX { animation: 2s server-mention infinite;}

@keyframes server-mention {
    0% { box-shadow: 0 0 0 0 var(--mention-color); }
    70% { box-shadow: 0 0 0 8px rgba(0, 0, 0, 0); }
    100% { box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);}}

/* Watch stream popout */
.theme-dark .body-Ogsp8i { background: var(--background-tertiary);}