/* -- Better menus -- */

/* Menu */
.menu-3sdvDG:hover > .scroller-3BxosC, .menu-3sdvDG { border-radius: 5px;}
.scroller-3BxosC { padding: 0;}

/* Submenu */
.submenuContainer-2gbm7M .layer-v9HyYc { margin: 0 -8px; } 

/* Label */
.labelContainer-1BLJti.colorDefault-2K3EoJ:hover, .labelContainer-1BLJti.colorDefault-2K3EoJ.focused-3afm-j, .labelContainer-1BLJti.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) { background-color: #5c6eb150;}
.labelContainer-1BLJti.colorDanger-2qLCe1:hover, .labelContainer-1BLJti.colorDanger-2qLCe1.focused-3afm-j, .labelContainer-1BLJti.colorDanger-2qLCe1:active:not(.hideInteraction-1iHO1O) { background-color: #f0474746;}
.scroller-3BxosC .labelContainer-1BLJti  { margin: 0; padding: 10px 15px; border-radius: 0; transition: 0.2s;}

/* Label - Focus */
.scroller-3BxosC > div > .labelContainer-1BLJti.focused-3afm-j, .scroller-3BxosC > div > .labelContainer-1BLJti:active:not(.hideInteraction-1iHO1O) { border-radius: 0;}
.scroller-3BxosC > div:first-of-type > .labelContainer-1BLJti.focused-3afm-j:first-child, .scroller-3BxosC > .labelContainer-1BLJti.focused-3afm-j:first-child, .scroller-3BxosC > div:first-of-type > .labelContainer-1BLJti:active:not(.hideInteraction-1iHO1O):first-of-type { border-radius: 5px 5px 0 0;}
.scroller-3BxosC:not(.ring-13rgEW) > div:nth-last-of-type(2) > .labelContainer-1BLJti.focused-3afm-j:last-child, .scroller-3BxosC:not(.ring-13rgEW) > .labelContainer-1BLJti.focused-3afm-j:last-child, .scroller-3BxosC:not(.ring-13rgEW) > div:nth-last-of-type(2) > .labelContainer-1BLJti:active:not(.hideInteraction-1iHO1O):last-of-type,
.scroller-3BxosC > div:nth-last-of-type(3) > .labelContainer-1BLJti.focused-3afm-j:last-child, .scroller-3BxosC > .labelContainer-1BLJti.focused-3afm-j:last-child, .scroller-3BxosC > div:nth-last-of-type(3) > .labelContainer-1BLJti:active:not(.hideInteraction-1iHO1O):last-of-type { border-radius: 0 0 5px 5px;}

/* Coloured status when playing */
rect[mask="url(#svg-mask-status-online)"] { fill: var(--online);}
rect[mask="url(#svg-mask-status-idle)"] { fill: var(--iddle);}
rect[mask="url(#svg-mask-status-dnd)"] { fill: var(--dnd);}
rect[mask="url(#svg-mask-status-offline)"] { fill: var(--offline);}

/* Joining message */
.theme-dark .contentWrapper-3WC1ID { background: var(--background-secondary);}

/* Welcome message */
.root-1gCeng:not(.modal-qgFCbT) { background: var(--background-secondary);}

/* Deleting Discord watermark */
.wordmark-2iDDfm svg { display: var(--discord-logo);} 

/* Tooltips */
.tooltip-2QfLtc { display: var(--tooltips); background: var(--background-tertiary);}
.theme-dark .tooltipBlack-PPG47z .tooltipPointer-3ZfirK { border-top-color: var(--background-tertiary);}

/* Keyboard shortcuts */
.theme-dark .keyboardShortcutsModal-3piNz7 { background: var(--background-primary); }
.theme-dark .keybindShortcut-1BD6Z1 span { border-radius: 1px;}

/* Discord games */
.theme-dark .scroller-1JpcIc { background: var(--background-primary);}
.theme-dark .whyYouMightLikeIt-2zZIIj, .theme-dark .content-35aVm0, .theme-dark .bodySection-jqkkIP, .theme-dark .row-1bU71H { background: var(--background-secondary);}

/* Popups */
.theme-dark .root-1gCeng, .theme-dark .footer-2gL1pp, .theme-dark .modal-yWgWj- { box-shadow: none;}

/* Cross */
.theme-dark .default-3oAQTF, .theme-dark .default-3oAQTF:hover { background-color: var(--background-tertiary);}

/* >:( fuck borders */
.theme-dark .messageGroupWrapper-o-Zw7G, .theme-dark .inputDefault-_djjkz, .theme-dark .container-1nZlH6, .theme-dark .cardPrimary-1Hv-to, 
.theme-dark .cardPrimaryOutline-29Ujqw, .theme-dark .codeRedemptionRedirect-1wVR4b, .theme-dark .previewOverlay-2O7_KC, .theme-dark .markup-2BOw-j code { border: none;}

/* PermisssionViewer support, thx _david_ */
#permissions-modal-wrapper #permissions-modal { box-shadow: none !important; border: none !important;}
#permissions-modal-wrapper .header { background: var(--background-tertiary) !important; text-align: center !important;}
#permissions-modal-wrapper .role-side, #permissions-modal-wrapper .perm-side {background: var(--background-secondary) !important;}

/* SCTR connection */
.theme-dark .container-2x5lvQ .header-2C89wJ { background-color: var(--background-tertiary); }
.theme-dark .container-2x5lvQ section { background-color: var(--background-secondary); }

/* Member Count support */
.theme-dark #MemberCount { background-color: var(--background-secondary) !important;}

/* Comfy camp server */
[src="https://cdn.discordapp.com/icons/811203761619337259/0564a75bda132490421a8d4cccb0ea1c.webp?size=128"] { content: url('https://nyri4.github.io/Comfy/assets/bonfire.png');}
[src="https://cdn.discordapp.com/icons/811203761619337259/0564a75bda132490421a8d4cccb0ea1c.webp?size=128"]:hover { content: url('https://nyri4.github.io/Comfy/assets/bonfire.gif');}
[href="/channels/811203761619337259/811646287161720842"] > div > svg > path, [href="/channels/811203761619337259/811203762147426347"] > div > svg > path { d: path("M8 0C3.58 0 0 3.58 0 8C0 11.54 2.29 14.53 5.47 15.59C5.87 15.66 6.02 15.42 6.02 15.21C6.02 15.02 6.01 14.39 6.01 13.72C4 14.09 3.48 13.23 3.32 12.78C3.23 12.55 2.84 11.84 2.5 11.65C2.22 11.5 1.82 11.13 2.49 11.12C3.12 11.11 3.57 11.7 3.72 11.94C4.44 13.15 5.59 12.81 6.05 12.6C6.12 12.08 6.33 11.73 6.56 11.53C4.78 11.33 2.92 10.64 2.92 7.58C2.92 6.71 3.23 5.99 3.74 5.43C3.66 5.23 3.38 4.41 3.82 3.31C3.82 3.31 4.49 3.1 6.02 4.13C6.66 3.95 7.34 3.86 8.02 3.86C8.7 3.86 9.38 3.95 10.02 4.13C11.55 3.09 12.22 3.31 12.22 3.31C12.66 4.41 12.38 5.23 12.3 5.43C12.81 5.99 13.12 6.7 13.12 7.58C13.12 10.65 11.25 11.33 9.47 11.53C9.76 11.78 10.01 12.26 10.01 13.01C10.01 14.08 10 14.94 10 15.21C10 15.42 10.15 15.67 10.55 15.59C13.71 14.53 16 11.53 16 8C16 3.58 12.42 0 8 0Z"); transform: scale(1.5);}
[href="/channels/811203761619337259/811639729144463410"] > div > svg > path { d: path("M8 17v-6h4v6h5V9h3L10 0 0 9h3v8z"); transform: scale(1.2);}
[href="/channels/811203761619337259/811649421884260382"] > div > svg > path { d: path("M22 12L12.101 2.10101L10.686 3.51401L12.101 4.92901L7.15096 9.87801V9.88001L5.73596 8.46501L4.32196 9.88001L8.56496 14.122L2.90796 19.778L4.32196 21.192L9.97896 15.536L14.222 19.778L15.636 18.364L14.222 16.95L19.171 12H19.172L20.586 13.414L22 12Z");}
[href="/channels/811203761619337259/812834431424397324"] > div > svg > path { d: path("m16 7.6c0 .79-1.28 1.38-1.52 2.09s.44 2 0 2.59-1.84.35-2.46.8-.79 1.84-1.54 2.09-1.67-.8-2.47-.8-1.75 1-2.47.8-.92-1.64-1.54-2.09-2-.18-2.46-.8.23-1.84 0-2.59-1.54-1.3-1.54-2.09 1.28-1.38 1.52-2.09-.44-2 0-2.59 1.85-.35 2.48-.8.78-1.84 1.53-2.12 1.67.83 2.47.83 1.75-1 2.47-.8.91 1.64 1.53 2.09 2 .18 2.46.8-.23 1.84 0 2.59 1.54 1.3 1.54 2.09z");transform: scale(1.5);}
[href="/channels/811203761619337259/811648374687399988"] > div > svg > path { d: path("M4.79805 3C3.80445 3 2.99805 3.8055 2.99805 4.8V15.6C2.99805 16.5936 3.80445 17.4 4.79805 17.4H7.49805V21L11.098 17.4H19.198C20.1925 17.4 20.998 16.5936 20.998 15.6V4.8C20.998 3.8055 20.1925 3 19.198 3H4.79805Z");transform: scale(1.1);}
[href="/channels/811203761619337259/811645185112801341"] > div > svg > path { d: path("M15,15H3V13H15Zm0-4H3V9H15Zm0-4H3V5H15ZM0,20l1.5-1.5L3,20l1.5-1.5L6,20l1.5-1.5L9,20l1.5-1.5L12,20l1.5-1.5L15,20l1.5-1.5L18,20V0L16.5,1.5,15,0,13.5,1.5,12,0,10.5,1.5,9,0,7.5,1.5,6,0,4.5,1.5,3,0,1.5,1.5,0,0Z");transform: translate(3.5px, 2px);}
[href="/channels/811203761619337259/812389098580738060"] > div > svg > path { d: path("M17,13.6 L17.3999992,13.6 C19.0406735,13.6 20.496781,12.8097754 21.4084757,11.5891722 L21.8198761,18.8298199 C21.913864,20.4840062 20.6490733,21.9011814 18.994887,21.9951692 C18.9382174,21.9983891 18.8814679,22 18.8247069,22 L5.1752931,22 C3.51843885,22 2.1752931,20.6568542 2.1752931,19 C2.1752931,18.943239 2.17690401,18.8864895 2.18012387,18.8298199 L2.59152425,11.5891732 C3.503219,12.8097758 4.95932613,13.6 6.6,13.6 L7,13.6 L7,15 L9,15 L9,13.6 L15,13.6 L15,15 L17,15 L17,13.6 Z M7,16 L7,18 L9,18 L9,16 L7,16 Z M15,16 L17,16 L17,18 L15,18 L15,16 Z M15,11.6 L9,11.6 L9,9 L7,9 L7,11.6 L6.6,11.6 C4.94314575,11.6 3.6,10.2568542 3.6,8.6 L3.6,5 C3.6,3.34314575 4.94314575,2 6.6,2 L17.3999992,2 C19.0568535,2 20.3999992,3.34314575 20.3999992,5 L20.3999992,8.6 C20.3999992,10.2568542 19.0568535,11.6 17.3999992,11.6 L17,11.6 L17,9 L15,9 L15,11.6 Z");transform: scale(1.1);}

/* -- Avatar customization -- */ 

/* User avatar */
.avatarWrapper-2yR4wp > .avatar-SmRMf2 > .mask-1l8v16 > rect { x: 22; y: 22; rx: var(--status-radius); mask: none; pointer-events: none;} 
.avatarWrapper-2yR4wp > .avatar-SmRMf2 > .mask-1l8v16 > svg > rect { x: 8.5; y: 6.5; rx: var(--status-radius); width: 10px; height: 10px; mask: none; pointer-events: none;} 
.avatarWrapper-2yR4wp svg { overflow: unset;}

/* Avatar in friend-list */
.privateChannels-1nO12o .wrapper-3t9DeA > .mask-1l8v16 > rect, .peopleColumn-29fq28 .wrapper-3t9DeA > .mask-1l8v16 > rect { x: 24; y: 24; rx: var(--status-radius); mask: none; pointer-events: none;}
.privateChannels-1nO12o .wrapper-3t9DeA > .mask-1l8v16 > svg > rect, .peopleColumn-29fq28 .wrapper-3t9DeA > .mask-1l8v16 > svg > rect{ mask: none; pointer-events: none; x: 10; y: 8; rx: var(--status-radius); width: 10px; height: 10px;}
.privateChannels-1nO12o .wrapper-3t9DeA > .mask-1l8v16 > rect[mask="url(#svg-mask-status-online-mobile)"], .peopleColumn-29fq28 .wrapper-3t9DeA > .mask-1l8v16 > rect[mask="url(#svg-mask-status-online-mobile)"] { y: 20;}
.privateChannels-1nO12o .wrapper-3t9DeA > .mask-1l8v16 > svg > rect[mask="url(#svg-mask-status-online-mobile)"], .peopleColumn-29fq28 .wrapper-3t9DeA > .mask-1l8v16 > svg > rect[mask="url(#svg-mask-status-online-mobile)"] { y: 4;}
.userInfo-2zN2z8 { overflow: visible;}

/* Avatar in memberlist */
.members-1998pB .wrapper-3t9DeA > .mask-1l8v16 > rect { mask: none; rx: var(--status-radius); pointer-events: none; x: 24; y: 24;}
.members-1998pB .wrapper-3t9DeA > .mask-1l8v16 > svg > rect { pointer-events: none; mask: none; rx: var(--status-radius); height: 10px; width: 10px; x: 10; y: 7.55;}
.members-1998pB .wrapper-3t9DeA > .mask-1l8v16 > rect[mask="url(#svg-mask-status-online-mobile)"] { y: 18;}
.members-1998pB .wrapper-3t9DeA > .mask-1l8v16 > svg > rect[mask="url(#svg-mask-status-online-mobile)"] { y: 4;}

/* Avatars in popout */
.userPopout-3XzG_A .wrapper-3t9DeA rect { mask: none; pointer-events: none; x: 67; y: 67; rx: var(--status-radius);}
.userPopout-3XzG_A .wrapper-3t9DeA svg > rect { mask: none; pointer-events: none; x: 67; y: 67; rx: var(--status-radius); width: 15px;}
.userPopout-3XzG_A .wrapper-3t9DeA rect[mask="url(#svg-mask-status-online-mobile)"] { y: 59;}
.userPopout-3XzG_A .wrapper-3t9DeA svg > rect[mask="url(#svg-mask-status-online-mobile)"] { y: 59;}
.wrapper-3t9DeA svg { overflow: visible;}
.avatarHint-1qgaV3 { display: none;}

/* Avatars radius */
.wrapper-3t9DeA foreignObject, .avatar-1BDn8e, .profile-1eT9hT .avatarUploaderInner-3UNxY3 { border-radius: var(--avatar-radius); mask: none;}

/* Server radius */ 
.wrapper-25eVIn foreignObject, .folderIconWrapper-226oVY, .expandedFolderBackground-2sPsd-, .icon-3o6xvg, .flexChild-faoVW3 .avatarUploaderInner-3UNxY3 { border-radius: var(--server-radius); mask: none;}
.wrapper-25eVIn foreignObject { transition: 0.2s;}
.wrapper-25eVIn:hover foreignObject { border-radius: calc(var(--server-radius) - 3px); transition: 0.2s;}

.dots-3Bkt3k { display: none;}

/* Powercord update toast */
.powercord-toast { border: none;}
.powercord-toast > .buttons > .lookOutlined-3sRXeN.colorGrey-2DXtkV { color: #fff; border: none;}

/* Vizality connections plugin support */
.ud-connections > div > img { border-radius: 5px; padding: 3px; margin: 3px;}

/* Vizality support */
.channel-2QD9_O { max-width: unset;}
[href="/vizality"], .vz-dashboard-sidebar-item, .vz-dashboard-sidebar-subitem.categoryItem-3zFJns { margin-left: 0;}
.vz-dashboard-sidebar-subitem-inner.layout-2DM8Md { padding: 12px !important;}
.vz-dashboard-sidebar-item-inner.layout-2DM8Md { padding: 5px 8px !important;}
.vz-c-settings-item { background: var(--background-secondary);}
.vz-c-settings-category-title, .vz-c-settings-category-title[vz-opened] { background: var(--background-secondary-alt);}
.vz-toast-buttons .lookOutlined-3sRXeN.colorGrey-2DXtkV { color: #fff; border: none;}