/* Friend column */
.peopleColumn-29fq28 { background: var(--background-primary);}

/* Friend call buttons */
.colorable-1bkp8v.primaryDark-3mSFDl, .colorable-1bkp8v.primaryDark-3mSFDl:hover { background: var(--background-secondary-alt);}

/* Regionnal selector friend call */
.theme-dark .quickSelectPopout-X1hvgV.regionSelectPopout-p9-0_W { background: var(--background-secondary-alt); box-shadow: none;}
.quickSelect-3BxO0K { margin-top: 10px;}

/* Friend activities */
.theme-dark .outer-1AjyKL.interactive-3B9GmY:hover { background: var(--background-tertiary);}
.theme-dark .inset-3sAvek { background: var(--background-secondary-alt);}

/* Friend acitivties popout */
.theme-dark .popout-38lTFE { background: var(--background-tertiary);}
.theme-dark .separator-XqIyoz { background: var(--background-primary);}