/* --------------------------- 😀 PM PART --------------------------- */

/* USRBG import */
@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');

/* Friend column */
.peopleColumn-29fq28 { background: var(--background-primary);}

/* Friend call buttons */
.colorable-1bkp8v.primaryDark-3mSFDl, .colorable-1bkp8v.primaryDark-3mSFDl:hover { background: var(--background-secondary-alt);}

/* Regionnal selector friend call */
.theme-dark .quickSelectPopout-X1hvgV.regionSelectPopout-p9-0_W { background: var(--background-secondary-alt); box-shadow: none;}
.quickSelect-3BxO0K { margin-top: 10px;}

/* Friend activities */
.theme-dark .outer-1AjyKL.interactive-3B9GmY:hover { background: var(--background-tertiary);}
.theme-dark .inset-3sAvek { background: var(--background-secondary-alt);}

/* Friend acitivties popout */
.theme-dark .popout-38lTFE { background: var(--background-tertiary);}
.theme-dark .separator-XqIyoz { background: var(--background-primary);}

/* --------------------------- 📜 SERVER LIST PART --------------------------- */

/* Server list */
.guilds-1SWlCJ .scroller-2TZvBN { contain: none !important;}
.wrapper-1Rf91z { margin-bottom: 125px;} .scroller-2TZvBN { padding-bottom: 100px;}

/* Server and folder */
.wrapper-25eVIn > svg > foreignObject, .folderIconWrapper-226oVY, .expandedFolderBackground-2sPsd- { border-radius: var(--server-radius);}
.wrapper-25eVIn > svg > foreignObject { mask: none;}

/* Discover */
.pageWrapper-1PgVDX .scroller-1d5FgU { padding-left: 0;}
.discoverHeader-1TWTqG ~ .categoryItem-3zFJns { margin-left: 0;}
.discoverHeader-1TWTqG ~ .categoryItem-3zFJns .itemInner-3gVXMG { padding: 8px;}
.css-ix84ef-menu { background: var(--background-secondary-alt);}
.theme-dark .pageWrapper-1PgVDX, .theme-dark .css-1adxh11-control, .theme-dark .css-12hk9yc-control, .theme-dark .css-1emou8a-control { background: var(--background-secondary); }
.theme-light .root-1gCeng, .theme-light .footer-2gL1pp { box-shadow: none;}

/* Create a server modal */
.theme-light .lookFilled-1Gx00P.colorGrey-2DXtkV { background-color: var(--background-accent);}
.theme-light .contents-18-Yxp { color: #FFF;}

/* User buttons */  
.panels-j1Uci_ .container-3baos1 .flex-1xMQg5 {
    position: fixed;
    bottom: 10px; left: 20px;
    z-index: 1;
    flex-direction: column;
}
.panels-j1Uci_ .container-3baos1 .flex-1xMQg5 > * { margin-top: 5px;}

/* GameActivity support */
#GameActivityToggleBtn:after {
    position: absolute;
    content: "";
    left: -20px; bottom: 0px;
    width: 72px; height: 35px;
    z-index: -1;
    background-color: var(--background-tertiary);
}
.container-3baos1 .flex-1xMQg5 .button-14-BFJ { color: var(--user-buttons-color);}
#GameActivityToggleBtn .st0 { fill: var(--user-buttons-color);}

/* Hiding old emplacement */
.panels-j1Uci_ .container-3baos1 { height: 0;}

/* Notifications settings */
.inner-1ilYF7 > .modal-yWgWj- > .header-1TKi98, .modal-yWgWj- { background: var(--background-secondary); }
.inner-1ilYF7 > .modal-yWgWj- > .scrollerBase-289Jih { background: var(--background-secondary); }

/* --------------------------- 🟢 STATUS PICKER --------------------------- */
.full-motion .animatorTop-2Y7x2r.didRender-33z1u8 { transform: unset !important; transition: opacity 0.15s linear 0s;}

#status-picker {
    position: fixed;
    bottom: 8px; left: 77px;
    width: 230px;
    background: var(--background-tertiary);
    border-radius: 5px;
}

/* Avatar in status picker */
.avatarWrapper-2yR4wp[aria-expanded="true"] {
    left: 80px !important; bottom: 120px !important;
    z-index: 10005 !important;
    pointer-events: none;
}
.avatarWrapper-2yR4wp[aria-expanded="true"] .avatar-SmRMf2.wrapper-3t9DeA { padding: 10px;}

/* Username in status picker */
.avatarWrapper-2yR4wp[aria-expanded="true"] + .nameTag-3uD-yy { 
    position: absolute; display: flex !important;
    bottom: 110px; left: 78px; width: 145px;
    justify-content: center;
}
.container-3baos1 .title-eS5yk3 { font-size: 18px;}

/* User buttons in status picker */
.avatarWrapper-2yR4wp[aria-expanded="true"] ~ div { z-index: 10005;}

/* Status grid */
#status-picker .scroller-3BxosC { display: grid; grid-template-columns: auto auto auto auto; margin: 55px 4px 4px 4px;}

/* Status */
.item-1tOPte:not(#status-picker-custom-status) > .statusItem-33LqPf { grid-template-columns: 100% 1fr;}
#status-picker .item-1tOPte { border-radius: 5px; margin: 3px; transition: 0.2s;}
#status-picker .item-1tOPte.focused-3afm-j { transition: 0.2s;}
.mask-1qbNWk.icon-1IxfJ2 { height: 18px; width: 18px; margin: auto;}
.customEmoji-2_2FwB { width: 20px; height: 20px;}
.customText-tY5LJn { font-size: 15px; }
#status-picker-online.colorDefault-2K3EoJ, #status-picker-online.colorDefault-2K3EoJ.focused-3afm-j { color: #43B581;}
#status-picker-online.focused-3afm-j { background-color: #43b58244;}
#status-picker-idle.colorDefault-2K3EoJ, #status-picker-idle.colorDefault-2K3EoJ.focused-3afm-j { color: #FAA61A;}
#status-picker-idle.focused-3afm-j { background-color: #faa81a42;}
#status-picker-dnd.colorDefault-2K3EoJ, #status-picker-dnd.colorDefault-2K3EoJ.focused-3afm-j { color: #F04747;}
#status-picker-dnd.focused-3afm-j { background-color: #b83a3c3d;}
#status-picker-invisible.colorDefault-2K3EoJ, #status-picker-invisible.colorDefault-2K3EoJ.focused-3afm-j { color: #747F8D;}
#status-picker-invisible.focused-3afm-j { background-color: #747f8d3d;}
#status-picker-custom-status.focused-3afm-j { background-color: #ffcd4d3d;}
.customEmojiPlaceholder-37iZ_j { background-image: url("https://nyri4.github.io/Comfy/assets/emoji.png");}

/* Custom status */
#status-picker-custom-status { grid-column: 1/5;}
#status-picker-custom-status .status-1fhblQ { display: block;}

/* Game Activity Toggle */
#status-picker [aria-label="Hide Game Activity"]:after, 
#status-picker [aria-label="Show Game Activity"]:after { content: "Not supported in this area";}

/* Support plugin CustomStatusPresets */
#status-picker .submenuContainer-2gbm7M .item-1tOPte { border-radius: 5px; margin: 0 3px;}
#status-picker .submenuContainer-2gbm7M { grid-column: 1/5; }

/* Custom status modal */
.theme-dark .footer-2gL1pp { background: var(--background-tertiary);}

/* Mention gradient */
.unreadMentionsBar-1VrBNe .text-2e2ZyG { display: none; }

/* Top */
.unreadMentionsIndicatorTop-gA6RCh { width: 100%; height: 50px; padding: 0; top: -7px;}
.unreadMentionsIndicatorTop-gA6RCh .unreadMentionsBar-1VrBNe { border-radius: 0; background: linear-gradient(var(--mention-color), #0000); transition: 0.3s;}
.unreadMentionsIndicatorTop-gA6RCh .unreadMentionsBar-1VrBNe:active { background: linear-gradient(var(--mention-color), #0000);}

/* Bottom */
.unreadMentionsIndicatorBottom-BXS58x { width: 100%; height: 15px; padding: 0;}
.unreadMentionsIndicatorBottom-BXS58x .unreadMentionsBar-1VrBNe { border-radius: 0; background: linear-gradient(#0000, var(--mention-color));}
.unreadMentionsIndicatorBottom-BXS58x .unreadMentionsBar-1VrBNe:active { background: linear-gradient(#0000, var(--mention-color));}

/* Mention pill */
.lowerBadge-29hYVK { top: 0; left: 0px; }
.lowerBadge-29hYVK .numberBadge-2s8kKX { animation: 2s server-mention infinite;}

@keyframes server-mention {
    0% { box-shadow: 0 0 0 0 var(--mention-color); }
    70% { box-shadow: 0 0 0 8px rgba(0, 0, 0, 0); }
    100% { box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);}}

/* --------------------------- ✏️ CHANNEL PART --------------------------- */

/* -- Guild header popout -- */
#guild-header-popout .labelContainer-1BLJti { flex-direction: row-reverse;}
#guild-header-popout .iconContainer-2-XQPY { margin: 0 8px 0 0;}

/* Boost */
#guild-header-popout-premium-subscribe:hover .icon-LYJorE, #guild-header-popout-premium-subscribe:active:not(.hideInteraction-1iHO1O) .icon-LYJorE { color: #FF73FA;}
#guild-header-popout-premium-subscribe:hover, #guild-header-popout-premium-subscribe:active:not(.hideInteraction-1iHO1O) { background-color: #ff73fa34; border-radius: 5px 5px 0 0;}

/* Invite */
#guild-header-popout-invite-people:hover .icon-LYJorE, #guild-header-popout-invite-people:active:not(.hideInteraction-1iHO1O) .icon-LYJorE { color: #677BC4;}
#guild-header-popout-invite-people:hover, #guild-header-popout-invite-people:active:not(.hideInteraction-1iHO1O) { background-color: #677bc442; color: #677BC4;}

/* Settings */
#guild-header-popout-settings .icon-LYJorE, #guild-header-popout-settings:active:not(.hideInteraction-1iHO1O) .icon-LYJorE { color: #546E7A;}
#guild-header-popout-settings:hover, #guild-header-popout-settings:active:not(.hideInteraction-1iHO1O){ background-color: #546e7a36;}

/* Insights */
#guild-header-popout-insights .icon-LYJorE, #guild-header-popout-insights:active:not(.hideInteraction-1iHO1O) .icon-LYJorE { color: #1ABC9C;}
#guild-header-popout-insights:hover, #guild-header-popout-insights:active:not(.hideInteraction-1iHO1O) { background-color: #1abc9c38;}

/* Create channel */
#guild-header-popout-create-channel .icon-LYJorE, #guild-header-popout-create-channel:active:not(.hideInteraction-1iHO1O) .icon-LYJorE { color: #E91E63;}
#guild-header-popout-create-channel:hover, #guild-header-popout-create-channel:active:not(.hideInteraction-1iHO1O) { background-color: #e91e6238;}

/* Create category */
#guild-header-popout-create-category .icon-LYJorE, #guild-header-popout-create-category:active:not(.hideInteraction-1iHO1O) .icon-LYJorE { color: #EAA14E;}
#guild-header-popout-create-category:hover, #guild-header-popout-create-category:active:not(.hideInteraction-1iHO1O) { background-color: #eaa14e34;}

/* Notifications */
#guild-header-popout-notifications .icon-LYJorE, #guild-header-popout-notifications:active:not(.hideInteraction-1iHO1O) .icon-LYJorE { color: #FCD462;}
#guild-header-popout-notifications:hover, #guild-header-popout-notifications:active:not(.hideInteraction-1iHO1O){ background-color: #e9bb4832;}

/* Privacy */
#guild-header-popout-privacy .icon-LYJorE, #guild-header-popout-privacy:active:not(.hideInteraction-1iHO1O) .icon-LYJorE { color: #4a84d4;}
#guild-header-popout-privacy:hover, #guild-header-popout-privacy:active:not(.hideInteraction-1iHO1O) { background-color: #4a83d434;}

/* Nickname */
#guild-header-popout-change-nicknam .icon-LYJorE, #guild-header-popout-change-nickname:active:not(.hideInteraction-1iHO1O) .icon-LYJorE { color: #43B581;}
#guild-header-popout-change-nickname:hover, #guild-header-popout-change-nickname:active:not(.hideInteraction-1iHO1O) { background-color: #43b5823a;}

/* Hide muted channels */
#guild-header-popout-hide-muted-channels:hover svg > path:first-child { color: #5C6FB1;}
#guild-header-popout-hide-muted-channels:hover, #guild-header-popout-hide-muted-channels:active:not(.hideInteraction-1iHO1O) { background-color: #5c6eb141;}
#guild-header-popout-hide-muted-channels:hover svg > path:last-child { color: #fff;}

/* Leave */
#guild-header-popout-leave:hover .icon-LYJorE, #guild-header-popout-leave:active:not(.hideInteraction-1iHO1O) .icon-LYJorE { color: #F04747;}
#guild-header-popout-leave:hover, #guild-header-popout-leave:active:not(.hideInteraction-1iHO1O) { background-color: #f047472f; color: #F04747;}

/* Categories arrows */
.mainContent-2h-GEV .arrow-gKvcEx { display: none;}

/* -- Notification -- */
.container-1taM1r { background: var(--background-secondary) !important; z-index: 3;}
.unreadTop-3rAB3r { width: 100%; padding: 0; z-index: 2; top: -9px;}
.unreadBottom-1_LF_w { width: 100%; height: 15px; padding: 0;}

/* Mention gradient */
.unreadTop-3rAB3r > .unreadBar-3t3sYc.mention-1f5kbO { border-radius: 0; background: linear-gradient(var(--mention-color), #0000);}
.unreadBottom-1_LF_w > .unreadBar-3t3sYc.mention-1f5kbO { border-radius: 0; background: linear-gradient(#0000, var(--mention-color));}

/* Unread gradient */
.unreadTop-3rAB3r > .unreadBar-3t3sYc.unread-1xRYoj { border-radius: 0; background: linear-gradient(var(--unread-color), #0000);}
.unreadBottom-1_LF_w > .unreadBar-3t3sYc.unread-1xRYoj { border-radius: 0; background: linear-gradient(#0000, var(--unread-color));}
.unreadBar-3t3sYc > .text-2e2ZyG { display: none; }

/* Mention pill */
.mentionsBadge-3tC7Mi .numberBadge-2s8kKX { animation: 2s channel-mention infinite;}

/* Unread pill */
.unread-2lAfLh { 
    top: 54%; left: 5px; 
    width: 6px; height: 6px;
    background-color: var(--unread-color);
    border-radius: 10px; 
    animation: 2s channel-unread infinite;
}

@keyframes channel-mention {
    0% { box-shadow: 0 0 0 0 var(--mention-color); }
    70% { box-shadow: 0 0 0 5px rgba(0, 0, 0, 0); }
    100% { box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);}}

@keyframes channel-unread {
    0% { box-shadow: 0 0 0 0 var(--unread-color); }
    70% { box-shadow: 0 0 0 4px rgba(0, 0, 0, 0); }
    100% { box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);}}

/* Game activity/call area */
.activityPanel-28dQGo, .container-1giJp5 { border-bottom: none; }

/* Adding role permissions into channel settings */
.theme-dark .autocompleteArrow-Zxoy9H, .theme-dark .header-2bNvm4 { background: var(--background-secondary-alt); }
.theme-dark .container-VSDcQc .sectionTag-pXyto9 { background: var(--background-secondary); }
.container-VSDcQc .headerText-3i6A8K { margin-left: 15px;}
.row-rrHHJU { padding: 0;}

/* Boost */
.theme-dark .perksModal-fSYqOq { background: var(--background-primary); }
.theme-dark .tierMarkerBackground-3q29am, .theme-dark .tierHeaderLocked-1s2JJz, .theme-dark .barBackground-2EEiLw, .theme-dark .icon-TYbVk4 { background: var(--background-secondary-alt); }
.option-96V44q.selected-rZcOL-, .tierBody-16Chc9, .perk-2WeBWW, .tierMarkerInProgress-24LMzJ { background: var(--background-secondary) !important; }

/* --------------------------- 💬 TCHAT PART --------------------------- */

/* Channel bar */
.container-1r6BKw.themed-ANHk51 { background: var(--background-secondary); }
.theme-dark .children-19S4PO:after { background: linear-gradient(90deg,rgba(54,57,63,0) 0,var(--background-secondary));}
.search-36MZv- { order: 1;}
.searchBar-3dMhjb { width: 27px; transition: 0.25s;}
.search-2oPWTC.focused-31_ccS { transition: 0.25s;}
.focused-31_ccS .searchBar-3dMhjb, .searchBar-3dMhjb:hover { width: 210px;}
[href="https://support.discord.com"] { display: none;}

/* -- Search bar and modal -- */
.theme-dark .elevationBorderHigh-2WYJ09 { box-shadow: none;}
.resultsGroup-r_nuzN .header-2N-gMV { text-align: center;}
.option-96V44q { margin: 0; border-radius: 0;}
.theme-dark .container-3ayLPN, .theme-dark .focused-2bY0OD { background-color: var(--background-secondary-alt);}
.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3 { background-color: var(--background-primary);}
.theme-dark .option-96V44q:after { background: linear-gradient(90deg,rgba(54,57,63,0),var(--background-secondary-alt) 80%);}
.theme-dark .option-96V44q.selected-rZcOL-:after { background: linear-gradient(90deg,rgba(54,57,63,0),var(--background-secondary) 80%);}

/* Calendar */
.theme-dark .calendarPicker-2yf6Ci .react-datepicker { background-color: var(--background-secondary-alt);}
.theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover,.theme-dark .calendarPicker-2yf6Ci .react-datepicker__header { background: var(--background-secondary-alt) !important;}
.searchLearnMore-3SQUAj { display: none; }

/* Avatar of the user */
.container-3baos1 .avatarWrapper-2yR4wp { 
    position: fixed; 
    bottom: 31px; left: 324px;
    z-index: 2;
}
.container-3baos1 .avatar-SmRMf2 { padding: 4px;}
.container-3baos1 .avatar-SmRMf2:hover { opacity: 1;}

/* Status of the user */
.avatar-SmRMf2 foreignObject { mask: var(--avatar-mask); border-radius: 5px;}
.avatar-SmRMf2 rect { display: var(--avatar-status);}

/* Hiding avatar */
.content-98HsJk > :nth-child(2):not(.chat-3bRxxu) { z-index: 2;}

/* Chat bar */
.channelTextArea-rNsIhG { margin-left: 50px; width: 95.5%;}
.channelTextArea-rNsIhG .scrollableContainer-2NUZem:after, .form-2fGMdU .wrapper-39oAo3:after {
    position: absolute;
    content: "";
    top: 0; left: -52px;
    width: 43px; height: 43px;
    background: url('https://nyri4.github.io/Comfy/assets/bonfire.gif') center no-repeat;
    background-size: 90%;
    background-color: var(--background-secondary);
    border-radius: var(--avatar-radius);
}

/* Typing indicator */
.typing-2GQL18 { left: 66px; right: 26px;}

/* Annoucement bar */
.form-2fGMdU .wrapper-39oAo3 { margin-left: 50px; width: 95.5%; height: 13px; margin-bottom: 23px;}
.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6, .theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover { background-color: var(--background-accent);}

/* Messages error bar */
.messagesErrorBar-nyJGU7 { border-radius: 15px; padding-bottom: 0; margin-bottom: 15px;}
.messagesErrorBar-nyJGU7:active { margin-bottom: 14px;}

/* New messages */
.newMessagesBar-265mhP { background-color: var(--background-accent); border-radius: 50px; margin-top: 5px; }

/* Mentions */
.mentioned-xhSam7:before { background: var(--mention-color-bar); padding: 1px;}
.mentioned-xhSam7 { background-color: var(--mention-color-background);}
.message-2qnXI6.mentioned-xhSam7.selected-2P5D_Z, .mouse-mode.full-motion .mentioned-xhSam7:hover { background-color: var(--mention-color-hover);}

/* Going back to new messages */
.jumpToPresentBar-G1R9s6, .jumpToPresentBar-G1R9s6:active { margin-bottom: 13px; border-radius: 20px; padding: 0;}

/* # @ / autocomplete menu */
.autocompleteRow-2OthDa { padding: 0;}
.autocompleteRow-2OthDa .base-1pYU8j { border-radius: 0;}
.autocompleteRow-2OthDa:first-of-type, .theme-dark .option-1B5ZV8 { background-color: var(--background-tertiary);}
.theme-dark .autocomplete-3l_oCd { background: var(--background-secondary-alt);}
.theme-dark .categoryHeader-O1zU94, .theme-dark .autocomplete-1vrmpx { background: var(--background-secondary); }
.theme-dark .selected-1Tbx07 { background: var(--background-primary);}

/* Upload modal */
.theme-dark .uploadModal-2ifh8j { background: var(--background-primary);}
.theme-dark .footer-3mqk7D { background: var(--background-tertiary);}

/* -- Emote picker -- */
.sprite-2iCowe { filter: var(--colored-emoji) !important;}

#emoji-picker-tab .contents-18-Yxp, #sticker-picker-tab .contents-18-Yxp { text-indent: 100%; overflow: hidden;}

.navList-2UtuhC > *:not(#gif-picker-tab) > .navButton-2gQCx-:after {
    position: absolute;
    content: "";
    width: 20px; height: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
}
.navList-2UtuhC #sticker-picker-tab .navButton-2gQCx-:after { background-image:url("https://nyri4.github.io/Comfy/assets/stickers.png");}
.navList-2UtuhC #emoji-picker-tab .navButton-2gQCx-:after { background-image:url("https://nyri4.github.io/Comfy/assets/emoji.png");}
.navList-2UtuhC .navButton-2gQCx- { width: 40px; padding: 8px;}
.navList-2UtuhC .navButton-2gQCx-.navButtonActive-1MkytQ, .emojiItem-14v6tW.emojiItemSelected-1aLkfV { background-color: #6e85d321;}
.contentWrapper-SvZHNd { grid-row-gap: 20px; padding-top: 8px;}
.header-19cWci > .arrow-gKvcEx { display: none;}

/* Chat buttons */
.attachButton-2WznTc .attachButtonPlus-jWVFah, .attachButton-2WznTc:hover .attachButtonPlus-jWVFah { fill: var(--chat-buttons);}
.theme-dark .buttonWrapper-1ZmCpA, .icon-3D60ES { color: var(--chat-buttons); }

/* --------------------------- 👥 MEMBERS PART --------------------------- */

/* -- Member popout -- */
.userPopout-3XzG_A { box-shadow: none;}
.userPopout-3XzG_A > :first-child { background: var(--background-tertiary);}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 { background: var(--background-secondary); }
.footer-1fjuF6 .inputDefault-_djjkz { border: none; background: var(--background-secondary-alt);}
.note-3HfJZ5 .textarea-2r0oV8:focus { background-color: var(--background-tertiary);}

/* Activity cards */
.activityUserPopout-2yItg2 { border-radius: 5px; margin: 0 8px 15px 8px; padding: 10px;}
.headerPlaying-j0WQBV .activityUserPopout-2yItg2 { background: #7289DA; box-shadow: 0px 4px 0px #46599c;}
.headerSpotify-zpWxgT .activityUserPopout-2yItg2 { background: #1DB954; box-shadow: 0px 4px 0px #11923e;}
.headerStreaming-2FjmGz .activityUserPopout-2yItg2 { background: #593695; box-shadow: 0px 4px 0px #47287c;}
.headerXbox-3G-4PF .activityUserPopout-2yItg2 { background: #107C10; box-shadow: 0px 4px 0px #095509;}

/* Spotify card */
.headerSpotify-zpWxgT .buttonsWrapper-2spIeK { justify-content: space-evenly;}
.headerSpotify-zpWxgT .buttonsWrapper-2spIeK .flex-1xMQg5 { text-indent: -1000px; overflow: hidden;}
.headerSpotify-zpWxgT .buttonsWrapper-2spIeK .lookOutlined-3sRXeN.colorWhite-rEQuAQ { border: none; padding: 0; width: 32px; margin-bottom: 5px;}
.disabledButtonWrapper-3wH6-b { width: unset;}

/* Playing card */
.headerPlaying-j0WQBV .lookOutlined-3sRXeN.colorWhite-rEQuAQ { box-shadow: 0px 3px 0px #46599c; border: 1px solid #46599c;}

/* Roles */
.role-2irmRk {
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: solid;
    border-width: 0px 0px 0px 3px;
    border-radius: 1px 3px 3px 1px;
}

.roleCircle-3xAZ1j { width: var(--role-circle) !important; height: var(--role-circle) !important;}

.roleCircle-3xAZ1j::before {
    position: absolute;
    content: "";
    top: 0px; left: 0px;
    width: 100%; height: 100%;
    background: inherit;
    opacity: 0.3;
    z-index: -1;
}

/* Roles selector */
.container-3XJ8ns { border: none; padding: 0; background-color: #191f2e; }
.container-3XJ8ns .container-cMG81i { border-radius: 5px 5px 0 0;}
.container-3XJ8ns .list-1xE9GQ { margin: 0; padding: 0;}
.container-3XJ8ns .item-2J2GlB { border-radius: 0;}

/* -- USRBG Small Popout -- */
.header-2BwW8b { transform:translateZ(0);}

#app-mount .userPopout-3XzG_A .wrapper-3t9DeA[style*="width: 80px;"]::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    z-index: -1;
    border-radius: 5px 5px 0 0;
    pointer-events: none;
    opacity: .8;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: var(--user-popout-position) center;
	background-image: var(--user-background);
    -webkit-mask-image: linear-gradient(#000000, #0000004f);
    mask-image: linear-gradient(0.25turn, #0009, #0000);
}

.userPopout-3XzG_A  .header-2BwW8b,
.userPopout-3XzG_A  .scroller-2FKFPG,
.userPopout-3XzG_A  .footer-1fjuF6,
.body-3iLsc4 { z-index: 1;}

/* -- User modal -- */

/* User */
.modal-3c3bKg .root-SR8cQa { width: 700px;}
.topSectionNormal-2-vo2m > * { padding: 0 30px;}
.header-QKLPzZ { 
    flex-direction: column;
    width: 200px;
    background: var(--background-secondary);
    margin: 10px 10px 0px 10px;
    padding-top: 15px;
    border-radius: 5px 5px 0 0;
}
.headerInfo-30uryT { padding: 15px 0 5px 0;}

/* Avatar */
.avatar-3EQepX { margin-right: 0; width: var(--avatar-width) !important; height: var(--avatar-width) !important;}
.header-QKLPzZ .mask-1l8v16 .pointerEvents-2zdfdO { display: none; }
.header-QKLPzZ .mask-1l8v16 foreignObject { mask: none; border-radius: var(--avatar-radius); }

/* Badges */
.profileBadges-2vWUYb { display: flex; justify-content: center; flex-wrap: wrap;}
.profileBadgeWrapper-1rGSsp { margin: 0 5px 0 5px; padding-bottom: 7px;}

/* Username + tag */
.headerInfo-30uryT .nameTag-2IFDfL { justify-content: center; margin: 0 0 10px 0;}
.discriminator-xUhQkU { font-size: 16px;}

/* 3 dots thing */
.additionalActionsIcon-1FoUlE { transform: rotate(90deg); margin: 10px;}

/* -- Activities -- */
.headerFill-adLl4x, .topSectionNormal-2-vo2m > div { 
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;
    width: 440px;
    background-color: transparent;
}
.root-SR8cQa > :first-child { background: var(--background-tertiary); display: flex;}
.activityProfile-2bJRaP { border-radius: 5px; margin: 13px;}

/* No activity */
.topSectionNormal-2-vo2m > div > div:first-of-type:not(.activity-1ythUs) .tabBar-2MuP6-::after  {
    content: "";
    position: absolute;
    top: 10px;
    width: 430px;
    height: 270px;
    background: url('https://nyri4.github.io/Comfy/assets/bonfire.gif') center no-repeat;
    background-size: 25%;
    border-radius: 5px;
}
.topSectionNormal-2-vo2m .actionButton-3W1xZa { background: #43b582b2 !important; backdrop-filter: blur(10px);}
.activity-1ythUs { margin-bottom: auto; }
.headerFill-adLl4x > .activity-1ythUs:not(.activityProfile-2bJRaP) { margin-bottom: 0 !important; padding-bottom: 5px;}
div:not(.headerFill-adLl4x) > .activity-1ythUs { text-align: center; margin-top: auto;}
.size12-3cLvbJ.activityHeader-1PExlk { display: none;}
div:not(.headerFill-adLl4x) > .activity-1ythUs .size16-1P40sf { font-size: 19px;}
div:not(.headerFill-adLl4x) > .activity-1ythUs .customStatus-154i-H { display: flex; flex-direction: column; align-items: center;}
div:not(.headerFill-adLl4x) > .activity-1ythUs .customStatusEmoji-3BvdMX { width: 60px; height: 60px;}
div:not(.headerFill-adLl4x) > .activity-1ythUs .customStatusSoloEmoji-192Z_4 { width: 80px; height: 80px;}
div:not(.headerFill-adLl4x) > .activity-1ythUs .customStatusEmoji-3BvdMX:not(.customStatusSoloEmoji-192Z_4) { margin: 0 0 20px 0;}
.activityProfile-2bJRaP.activity-1ythUs { margin-bottom: auto; }

/* Playing */
.topSectionPlaying-1J5E4n .activityProfile-2bJRaP { background: #7289DA; box-shadow: 0px 4px 0px #46599c;}
.topSectionPlaying-1J5E4n .actionButton-3W1xZa { background: #46599c81 !important; backdrop-filter: blur(10px);}
.topSectionPlaying-1J5E4n .actionsProfile-jEtjVX .button-2IFFQ4 { box-shadow: 0px 3px 0px #46599c; border: 1px solid #46599c; padding: 0 5px;}
.topSectionPlaying-1J5E4n .actionsProfile-jEtjVX .button-2IFFQ4 .streamIcon-2zxjAa { width: 24px; height: 24px; margin-left: 4px;}
.topSectionPlaying-1J5E4n .bodyNormal-2D39hT .buttonsWrapper-2spIeK { flex-direction: column;}

/* Spotify */
.topSectionSpotify-1lI0-P .activityProfile-2bJRaP { background: #1DB954;  box-shadow: 0px 4px 0px #11923e;}
.topSectionSpotify-1lI0-P .actionButton-3W1xZa { background: #1db9544b !important; backdrop-filter: blur(10px);}
.topSectionSpotify-1lI0-P .actionsProfile-jEtjVX .flex-1xMQg5 { text-indent: -1000px; overflow: hidden;}
.topSectionSpotify-1lI0-P .actionsProfile-jEtjVX .button-2IFFQ4 { border: none; padding: 0; width: 25px; margin-bottom: 5px;}
.topSectionSpotify-1lI0-P .actionsProfile-jEtjVX .disabledButtonWrapper-3wH6-b { margin-bottom: 5px;}
.topSectionSpotify-1lI0-P .buttonsWrapper-2spIeK, .topSectionSpotify-1lI0-P .disabledButtonWrapper-3wH6-b { flex-direction: column;}

/* Streaming */
.topSectionStreaming-1Tpf5X .activityProfile-2bJRaP { background: #593695; box-shadow: 0px 4px 0px #47287c;}
.topSectionStreaming-1Tpf5X .button-38aScr { background: #5936954b !important; backdrop-filter: blur(10px);}
.topSectionStreaming-1Tpf5X .bodyNormal-2D39hT { flex-direction: column;}
.topSectionStreaming-1Tpf5X .bodyNormal-2D39hT * { margin: 3px; text-align: center;}

/* Xbox */
.topSectionXbox-3fWLjS .activityProfile-2bJRaP { background: #107C10; box-shadow: 0px 4px 0px #095509;}
.topSectionXbox-3fWLjS .actionButton-3W1xZa { background: #3a9d6f50 !important; backdrop-filter: blur(10px);}

/* All Activites */
.allactivities-left .lookOutlined-3sRXeN.colorWhite-rEQuAQ, .allactivities-right .lookOutlined-3sRXeN.colorWhite-rEQuAQ  { border: none;}

/* Infos / Server / Friends */
.tabBarContainer-1s1u-z:not(.flex-1xMQg5) { border-top: none; padding-left: 0; padding-top: 10px;}
.tabBarContainer-1s1u-z:not(.flex-1xMQg5) > .tabBar-2MuP6- { justify-content: center;}
.tabBarContainer-1s1u-z:not(.flex-1xMQg5) [aria-controls="USER_INFO-tab"],
.tabBarContainer-1s1u-z:not(.flex-1xMQg5) [aria-controls="MUTUAL_GUILDS-tab"],
.tabBarContainer-1s1u-z:not(.flex-1xMQg5) [aria-controls="MUTUAL_FRIENDS-tab"] {
    text-indent: 100%; overflow: hidden;
    margin: 0 30px; width: 30px;
}
.tabBarContainer-1s1u-z:not(.flex-1xMQg5) [aria-controls="USER_INFO-tab"]:after,
.tabBarContainer-1s1u-z:not(.flex-1xMQg5) [aria-controls="MUTUAL_GUILDS-tab"]:after,
.tabBarContainer-1s1u-z:not(.flex-1xMQg5) [aria-controls="MUTUAL_FRIENDS-tab"]:after { 
    position: absolute;
    content: "";
    width: 30px; height: 30px;
    background-size: 100%;
    background-repeat: no-repeat;
}

[aria-controls="USER_INFO-tab"]:after { background-image:url("https://nyri4.github.io/Comfy/assets/user.png");}
[aria-controls="MUTUAL_GUILDS-tab"]:after { background-image: url("https://nyri4.github.io/Comfy/assets/guild.png");}
[aria-controls="MUTUAL_FRIENDS-tab"]:after { background-image:url("https://nyri4.github.io/Comfy/assets/friend.png");}

/* Connetions */
.connectedAccount-36nQx7 {
    border: solid #151b27;
    border-width: 1.2px 1.2px 3px 1.2px;
    border-radius: 4px;
    width: 300px;
    transition: 0.1s;
}
.connectedAccount-36nQx7:active {
    border-width: 1.2px 1.2px 1.2px 1.2px;
    transform: translateY(1px);
    transition: 0.1s;
}

.connectedAccountIcon-3P3V6F { padding: 5px; border-radius: 4px;}
.connectedAccountName-f8AEe2 { margin-left: 13px;}
.accountBtnInner-sj5jLs[aria-label="Battle.net"], .accountBtnInner-sj5jLs[aria-label="Battle.net"]:hover, [src="/assets/4662875160dc4c56954003ebda995414.png"] { background-color: #1da0f248; }
.accountBtnInner-sj5jLs[aria-label="Twitch"], .accountBtnInner-sj5jLs[aria-label="Twitch"]:hover, [src="/assets/edbbf6107b2cd4334d582b26e1ac786d.png"] { background-color: #601bd852; }
.accountBtnInner-sj5jLs[aria-label="YouTube"], .accountBtnInner-sj5jLs[aria-label="YouTube"]:hover, [src="/assets/449cca50c1452b4ace3cbe9bc5ae0fd6.png"] { background-color: #d9252b49; }
.accountBtnInner-sj5jLs[aria-label="Twitter"], .accountBtnInner-sj5jLs[aria-label="Twitter"]:hover, [src="/assets/8c289d499232cd8e9582b4a5639d9d1d.png"] { background-color: #0098e446; }
.accountBtnInner-sj5jLs[aria-label="Steam"], .accountBtnInner-sj5jLs[aria-label="Steam"]:hover, [src="/assets/f09c1c70a67ceaaeb455d163f3f9cbb8.png"] { background-color: #00000034; }
.accountBtnInner-sj5jLs[aria-label="Reddit"], .accountBtnInner-sj5jLs[aria-label="Reddit"]:hover, [src="/assets/3abe9ce5a00cc24bd8aae04bf5968f4c.png"] { background-color:#fe44013d; }
.accountBtnInner-sj5jLs[aria-label="Facebook"], .accountBtnInner-sj5jLs[aria-label="Facebook"]:hover, [src="/assets/8d8f815f3d81a33b1e70ec7c22e1b6fe.png"] { background-color: #2e328485; }
.accountBtnInner-sj5jLs[aria-label="Spotify"], .accountBtnInner-sj5jLs[aria-label="Spotify"]:hover, [src="/assets/f0655521c19c08c4ea4e508044ec7d8c.png"] { background-color: #1ed75f34; }
.accountBtnInner-sj5jLs[aria-label="Xbox Live"], .accountBtnInner-sj5jLs[aria-label="Xbox Live"]:hover, [src="/assets/0d44ba28e39303de3832db580a252456.png"] { background-color: #5dc21e42; }
.accountBtnInner-sj5jLs[aria-label="League Of Legends"], .accountBtnInner-sj5jLs[aria-label="League Of Legends"]:hover, [src="/assets/806953fe1cc616477175cbcdf90d5cd3.png"] { background-color: #cea14638; }
.accountBtnInner-sj5jLs[aria-label="GitHub"], .accountBtnInner-sj5jLs[aria-label="GitHub"]:hover, [src="/assets/5d69e29f0d71aaa04ed9725100199b4e.png"] { background-color: #24292e62; }

/* -- USRBG Big Popout -- */
:root {
    --usrbg-modal-x-offset:-180px; /*Distance from the avatar container to the edge of the modal (x)*/
    --usrbg-modal-y-offset:-65px; /*Distance from the avatar container to the edge of the modal (y)*/
    --usrbg-modal-width:700px; /*Maximum width of modal*/
    --usrbg-modal-height:600px; /*Maximum height of modal*/
}
#app-mount .header-QKLPzZ .wrapper-3t9DeA[style*="width: 80px;"] {margin-right: 0 !important}
#app-mount .header-QKLPzZ .wrapper-3t9DeA[style*="width: 80px;"]::after {
    content:'';
    position:absolute;
    top:var(--usrbg-modal-x-offset) !important;
    left:var(--usrbg-modal-y-offset) !important;
    width:var(--usrbg-modal-width);
    height: var(--usrbg-modal-height);
    opacity:.7;
    pointer-events:none;
    background: var(--user-background) center/cover no-repeat;
    -webkit-mask: linear-gradient(#000000, #0000004f);
    mask: linear-gradient(#000, transparent);
}
  
.headerInfo-30uryT,
.tabBarItem-1b8RUP,
.activity-1ythUs { z-index:1; position:relative;}

.topSectionNormal-2-vo2m *, .topSectionSpotify-1lI0-P *, .topSectionPlaying-1J5E4n *, .topSectionStreaming-1Tpf5X *, .body-3ND3kc { z-index: 1;}

/* --------------------------- 👤 USER SETTINGS --------------------------- */

/* Wide settings */
.contentRegion-3nDuYy { flex: 1 1 100%; }
.contentColumn-2hrIYH, .customColumn-Rb6toI, .sidebarScrollable-1qPI87 + .content-1rPSz4, .customScroller-26gWhv>div { max-width: 95%;}
.sidebar-CFHs9e { padding: 60px 0 35px 50px; width: 260px;}
.sidebar-CFHs9e > div > .item-PXvHYJ, #bd-settings-sidebar .ui-tab-bar-item { padding: 8px 0 8px 10px; margin-bottom: 0; border-radius: 5px 0 0 5px;}

/* Connetions */
.connectionIcon-2ElzVe { border-radius: 5px; padding: 4px;}

/* Billing */
.theme-dark .paymentRow-2e7VM6, .theme-dark .pageActions-1SVAnA, .theme-dark .codeRedemptionRedirect-1wVR4b { background: var(--background-secondary-alt); }
.theme-dark .payment-xT17Mq:hover { background-color: var(--background-secondary);}
.theme-dark .expandedInfo-3kfShd { background: var(--background-secondary); }
.theme-dark .checked-3_4uQ9 { background: transparent; border-color: transparent;}
.theme-dark .bottomDivider-1K9Gao { border-bottom-color: transparent;}

/* Voice & Video */
.theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC { background: var(--background-secondary-alt);}

/* Game Activity */
.theme-dark .notDetected-33MY4s, .theme-dark .addGamePopout-2RY8Ju { background: var(--background-secondary-alt);}
.css-17e1tep-control { border: none;}

/* --------------------------- ⚙️ SERVER SETTINGS --------------------------- */

/* Modifications notification */
.noticeRegion-1YviSH { max-width: 1400px; right: 0;}
.container-2VW0UT { background: var(--background-tertiary) !important; }

/* Region selector */
.regionSelectModal-12e-57 { background: var(--background-secondary-alt) !important;}
.regionSelectModal-12e-57 .regionSelectModalOption-2DSIZ3 { background: var(--background-primary) !important; border: none;}

/* Roles */
.theme-dark .colorPickerCustom-2CWBn2 { background: var(--background-secondary); border-radius: 5px;}

/* Emoji */
.theme-dark .emojiAliasInput-1y-NBz .emojiInput-1aLNse { background: var(--background-secondary-alt);}
.theme-dark .card-FDVird:before { background: var(--background-secondary); border-color: transparent;}

/* Audit logs */
.theme-dark .headerClickable-2IVFo9, .theme-dark .headerDefault-1wrJcN, .theme-dark .headerExpanded-CUEwZ5 { background: var(--background-secondary-alt);}
.auditLog-3jNbM6 { border: none;}
.divider-1pnAR2 { display: none;}

/* Integrations */
.theme-dark .card-o7rAq-, .theme-dark .header-146Xl5 { border: none;}
.theme-dark .body-1zRX82, .theme-dark .cardPrimaryEditable-3KtE4g { background: var(--background-secondary); border: none;}

/* Overview */
.css-gvi9bl-control, .css-6fzn47-control { border: none;}
.theme-dark .css-3vaxre-menu { background: var(--background-secondary-alt); border: none; }

/* Welcome screen */
.descriptionInput-3b30C8 { background: var(--background-secondary-alt); border: none;}

/* Server Boost Status */
.theme-dark .tierBody-x9kBBp { background: var(--background-secondary); }
.theme-dark .tierHeaderContent-2-YfvN, .theme-dark .tierInProgress-3mBoXq { background: var(--background-secondary-alt); }
.theme-dark .background-3xPPFc { color: var(--background-secondary-alt); }

/* Members */
.theme-dark .overflowRolesPopout-140n9i{ background: var(--background-secondary); }

/* --------------------------- 🌺 OTHER --------------------------- */

/* -- Better menus -- */

/* Menu */
.menu-3sdvDG:hover > .scroller-3BxosC, .menu-3sdvDG { border-radius: 5px;}
.scroller-3BxosC { padding: 0;}

/* Submenu */
.submenuContainer-2gbm7M .layer-v9HyYc { margin: 0 -8px; } 

/* Label */
.labelContainer-1BLJti.colorDefault-2K3EoJ:hover, .labelContainer-1BLJti.colorDefault-2K3EoJ.focused-3afm-j, .labelContainer-1BLJti.colorDefault-2K3EoJ:active:not(.hideInteraction-1iHO1O) { background-color: #5c6eb150;}
.labelContainer-1BLJti.colorDanger-2qLCe1:hover, .labelContainer-1BLJti.colorDanger-2qLCe1.focused-3afm-j, .labelContainer-1BLJti.colorDanger-2qLCe1:active:not(.hideInteraction-1iHO1O) { background-color: #f0474746;}

.scroller-3BxosC .labelContainer-1BLJti  { 
    margin: 0;
    padding: 10px 15px;
    border-radius: 0;
    transition: 0.2s;
}

/* Label - Focus */
.scroller-3BxosC > div > .labelContainer-1BLJti.focused-3afm-j, .scroller-3BxosC > div > .labelContainer-1BLJti:active:not(.hideInteraction-1iHO1O) { border-radius: 0;}
.scroller-3BxosC > div:first-of-type > .labelContainer-1BLJti.focused-3afm-j:first-child, .scroller-3BxosC > .labelContainer-1BLJti.focused-3afm-j:first-child, .scroller-3BxosC > div:first-of-type > .labelContainer-1BLJti:active:not(.hideInteraction-1iHO1O):first-of-type { border-radius: 5px 5px 0 0;}
.scroller-3BxosC:not(.ring-13rgEW) > div:nth-last-of-type(2) > .labelContainer-1BLJti.focused-3afm-j:last-child, .scroller-3BxosC:not(.ring-13rgEW) > .labelContainer-1BLJti.focused-3afm-j:last-child, .scroller-3BxosC:not(.ring-13rgEW) > div:nth-last-of-type(2) > .labelContainer-1BLJti:active:not(.hideInteraction-1iHO1O):last-of-type,
.scroller-3BxosC > div:nth-last-of-type(3) > .labelContainer-1BLJti.focused-3afm-j:last-child, .scroller-3BxosC > .labelContainer-1BLJti.focused-3afm-j:last-child, .scroller-3BxosC > div:nth-last-of-type(3) > .labelContainer-1BLJti:active:not(.hideInteraction-1iHO1O):last-of-type { border-radius: 0 0 5px 5px;}

/* Coloured status when playing */
rect[mask="url(#svg-mask-status-online)"] { fill: #43B581;}
rect[mask="url(#svg-mask-status-idle)"] { fill: #FAA61A;}
rect[mask="url(#svg-mask-status-dnd)"] { fill: #F04747;}
rect[mask="url(#svg-mask-status-offline)"] { fill: #747F8D;}

/* Deleting useless things */
.container-3baos1 .nameTag-3uD-yy, .container-3baos1 .subtext-3CDbHg, .separator-2I32lJ, .status-1fhblQ, .description-2L932D { display: none;}

/* Joining message */
.theme-dark .contentWrapper-3WC1ID { background: var(--background-secondary);}

/* Welcome message */
.root-1gCeng:not(.modal-qgFCbT) { background: var(--background-secondary);}

/* Deleting Discord watermark */
.wordmark-2iDDfm svg { display: var(--discord-logo);} 

/* Watch stream popout */
.theme-dark .body-Ogsp8i { background: var(--background-tertiary);}

/* Deleting message confirmation */
.theme-dark .message-2qRu38 { background: var(--background-primary); }

/* Tooltips */
.tooltip-2QfLtc { display: var(--tooltips); background: var(--background-tertiary);}
.theme-dark .tooltipBlack-PPG47z .tooltipPointer-3ZfirK { border-top-color: var(--background-tertiary);}

/* Keyboard shortcuts */
.theme-dark .keyboardShortcutsModal-3piNz7 { background: var(--background-primary); }
.theme-dark .keybindShortcut-1BD6Z1 span { border-radius: 1px;}

/* Discord games */
.theme-dark .scroller-1JpcIc { background: var(--background-primary);}
.theme-dark .whyYouMightLikeIt-2zZIIj, .theme-dark .content-35aVm0, .theme-dark .bodySection-jqkkIP, .theme-dark .row-1bU71H { background: var(--background-secondary);}

/* Popups */
.theme-dark .root-1gCeng, .theme-dark .footer-2gL1pp, .theme-dark .modal-yWgWj- { box-shadow: none;}

/* Cross */
.theme-dark .default-3oAQTF, .theme-dark .default-3oAQTF:hover { background-color: var(--background-tertiary);}

/* >:( fuck borders */
.theme-dark .messageGroupWrapper-o-Zw7G, .theme-dark .inputDefault-_djjkz, .theme-dark .container-1nZlH6, .theme-dark .cardPrimary-1Hv-to, 
.theme-dark .cardPrimaryOutline-29Ujqw, .theme-dark .codeRedemptionRedirect-1wVR4b, .theme-dark .previewOverlay-2O7_KC, .theme-dark .markup-2BOw-j code { border: none;}

/* PermisssionViewer support, thx _david_ */
#permissions-modal-wrapper #permissions-modal { box-shadow: none !important; border: none !important;}
#permissions-modal-wrapper .header { background: var(--background-tertiary) !important; text-align: center !important;}
#permissions-modal-wrapper .role-side, #permissions-modal-wrapper .perm-side {background: var(--background-secondary) !important;}

/* Reaction popout */
.theme-dark .scroller-1-nKid { background: var(--background-tertiary); }
.theme-dark .container-1If-HZ, .theme-dark .reactors-Blmlhw { background: var(--background-secondary);}
.reactionSelected-1pqISm, .reactionDefault-GBA58K:hover { margin-right: 6px;}
.theme-dark .reactionSelected-1pqISm { background-color: #6e85d321; }

/* Spotify session */
.theme-dark .invite-18yqGF { background-color: var(--background-secondary); border-color: transparent;}

/* Attachement */
.attachment-33OFj0 { border: none;}

/* Spotify embed */
.embedSpotify-tvxDCr { border-radius: 5px;}

/* Discord Gift */
.theme-dark .tile-2OwFgW { background-color: var(--background-secondary);}
.theme-dark .tileHorizontal-3eee4N.tile-2OwFgW:hover { background-color: var(--background-secondary-alt);}
.theme-dark .invalidPoop-pnUbq7 { background-color: rgba(0, 0, 0, 0.103);}

/* Spoiler */
.theme-dark .spoilerText-3p6IlD.hidden-HHr2R9, .theme-dark .spoilerText-3p6IlD.hidden-HHr2R9:hover { background-color: var(--background-secondary-alt);}

/* Audio player */
.theme-dark .wrapperAudio-1jDe0Q { padding: 10px 0 0 0; border-color: transparent;}
.theme-dark .audioMetadata-3zOuGv { padding: 5px 10px;}
.theme-dark .audioControls-2HsaU6 { border-radius: 0;}

/* HLJS Support */
.hljs.scrollbar-3dvm_9 { background-color: var(--background-secondary) !important;}

/* SCTR connection */
.theme-dark .container-2x5lvQ .header-2C89wJ { background-color: var(--background-tertiary); }
.theme-dark .container-2x5lvQ section { background-color: var(--background-secondary); }

/* Member Count support */
.theme-dark #MemberCount { background-color: var(--background-secondary) !important;}

/* Comfy camp server */
[src="https://cdn.discordapp.com/icons/811203761619337259/0564a75bda132490421a8d4cccb0ea1c.webp?size=128"] { content: url('https://nyri4.github.io/Comfy/assets/bonfire.png');}
[src="https://cdn.discordapp.com/icons/811203761619337259/0564a75bda132490421a8d4cccb0ea1c.webp?size=128"]:hover { content: url('https://nyri4.github.io/Comfy/assets/bonfire.gif');}
[href="/channels/811203761619337259/811646287161720842"] > div > svg > path, [href="/channels/811203761619337259/811203762147426347"] > div > svg > path { d: path("M8 0C3.58 0 0 3.58 0 8C0 11.54 2.29 14.53 5.47 15.59C5.87 15.66 6.02 15.42 6.02 15.21C6.02 15.02 6.01 14.39 6.01 13.72C4 14.09 3.48 13.23 3.32 12.78C3.23 12.55 2.84 11.84 2.5 11.65C2.22 11.5 1.82 11.13 2.49 11.12C3.12 11.11 3.57 11.7 3.72 11.94C4.44 13.15 5.59 12.81 6.05 12.6C6.12 12.08 6.33 11.73 6.56 11.53C4.78 11.33 2.92 10.64 2.92 7.58C2.92 6.71 3.23 5.99 3.74 5.43C3.66 5.23 3.38 4.41 3.82 3.31C3.82 3.31 4.49 3.1 6.02 4.13C6.66 3.95 7.34 3.86 8.02 3.86C8.7 3.86 9.38 3.95 10.02 4.13C11.55 3.09 12.22 3.31 12.22 3.31C12.66 4.41 12.38 5.23 12.3 5.43C12.81 5.99 13.12 6.7 13.12 7.58C13.12 10.65 11.25 11.33 9.47 11.53C9.76 11.78 10.01 12.26 10.01 13.01C10.01 14.08 10 14.94 10 15.21C10 15.42 10.15 15.67 10.55 15.59C13.71 14.53 16 11.53 16 8C16 3.58 12.42 0 8 0Z"); transform: scale(1.5);}
[href="/channels/811203761619337259/811639729144463410"] > div > svg > path { d: path("M8 17v-6h4v6h5V9h3L10 0 0 9h3v8z"); transform: scale(1.2);}
[href="/channels/811203761619337259/811649421884260382"] > div > svg > path { d: path("M22 12L12.101 2.10101L10.686 3.51401L12.101 4.92901L7.15096 9.87801V9.88001L5.73596 8.46501L4.32196 9.88001L8.56496 14.122L2.90796 19.778L4.32196 21.192L9.97896 15.536L14.222 19.778L15.636 18.364L14.222 16.95L19.171 12H19.172L20.586 13.414L22 12Z");}
[href="/channels/811203761619337259/812834431424397324"] > div > svg > path { d: path("m16 7.6c0 .79-1.28 1.38-1.52 2.09s.44 2 0 2.59-1.84.35-2.46.8-.79 1.84-1.54 2.09-1.67-.8-2.47-.8-1.75 1-2.47.8-.92-1.64-1.54-2.09-2-.18-2.46-.8.23-1.84 0-2.59-1.54-1.3-1.54-2.09 1.28-1.38 1.52-2.09-.44-2 0-2.59 1.85-.35 2.48-.8.78-1.84 1.53-2.12 1.67.83 2.47.83 1.75-1 2.47-.8.91 1.64 1.53 2.09 2 .18 2.46.8-.23 1.84 0 2.59 1.54 1.3 1.54 2.09z");transform: scale(1.5);}
[href="/channels/811203761619337259/811648374687399988"] > div > svg > path { d: path("M4.79805 3C3.80445 3 2.99805 3.8055 2.99805 4.8V15.6C2.99805 16.5936 3.80445 17.4 4.79805 17.4H7.49805V21L11.098 17.4H19.198C20.1925 17.4 20.998 16.5936 20.998 15.6V4.8C20.998 3.8055 20.1925 3 19.198 3H4.79805Z");transform: scale(1.1);}
[href="/channels/811203761619337259/811645185112801341"] > div > svg > path { d: path("M15,15H3V13H15Zm0-4H3V9H15Zm0-4H3V5H15ZM0,20l1.5-1.5L3,20l1.5-1.5L6,20l1.5-1.5L9,20l1.5-1.5L12,20l1.5-1.5L15,20l1.5-1.5L18,20V0L16.5,1.5,15,0,13.5,1.5,12,0,10.5,1.5,9,0,7.5,1.5,6,0,4.5,1.5,3,0,1.5,1.5,0,0Z");transform: translate(3.5px, 2px);}
[href="/channels/811203761619337259/812389098580738060"] > div > svg > path { d: path("M17,13.6 L17.3999992,13.6 C19.0406735,13.6 20.496781,12.8097754 21.4084757,11.5891722 L21.8198761,18.8298199 C21.913864,20.4840062 20.6490733,21.9011814 18.994887,21.9951692 C18.9382174,21.9983891 18.8814679,22 18.8247069,22 L5.1752931,22 C3.51843885,22 2.1752931,20.6568542 2.1752931,19 C2.1752931,18.943239 2.17690401,18.8864895 2.18012387,18.8298199 L2.59152425,11.5891732 C3.503219,12.8097758 4.95932613,13.6 6.6,13.6 L7,13.6 L7,15 L9,15 L9,13.6 L15,13.6 L15,15 L17,15 L17,13.6 Z M7,16 L7,18 L9,18 L9,16 L7,16 Z M15,16 L17,16 L17,18 L15,18 L15,16 Z M15,11.6 L9,11.6 L9,9 L7,9 L7,11.6 L6.6,11.6 C4.94314575,11.6 3.6,10.2568542 3.6,8.6 L3.6,5 C3.6,3.34314575 4.94314575,2 6.6,2 L17.3999992,2 C19.0568535,2 20.3999992,3.34314575 20.3999992,5 L20.3999992,8.6 C20.3999992,10.2568542 19.0568535,11.6 17.3999992,11.6 L17,11.6 L17,9 L15,9 L15,11.6 Z");transform: scale(1.1);}

/* -- Avatar customization -- */ 

/* User avatar */
.avatarWrapper-2yR4wp foreignObject { border-radius: var(--avatar-radius);}
.avatarWrapper-2yR4wp > .avatar-SmRMf2 > .mask-1l8v16 > rect {
    border-radius: 0;
    x: 0; y: 35; rx: 2 !important;
    width: 32.5px; height: 2.5px;
    mask: none;
    pointer-events: none;
} 
.avatarWrapper-2yR4wp > .avatar-SmRMf2 > .mask-1l8v16 > svg > rect {
    border-radius: 0;
    x: -14.5; y: 18; rx: 2 !important;
    width: 32px; height: 3px;
    mask: none;
    pointer-events: none;
} 
.avatarWrapper-2yR4wp svg { overflow: unset;}

/* Avatars in popout */
.userPopout-3XzG_A .avatarWrapperNormal-3wFMbf { margin-bottom: 20px;}
.userPopout-3XzG_A .wrapper-3t9DeA foreignObject { mask: var(--avatar-mask); border-radius: var(--avatar-radius);}
.userPopout-3XzG_A .wrapper-3t9DeA rect { 
    display: var(--avatar-status);
    mask: none;
    pointer-events: none;
    x: 0; y: 85;
    width: 80px; height: 4px;
    rx: 2px;
}
.wrapper-3t9DeA svg { overflow: visible;}
.avatarHint-1qgaV3 foreignObject { mask: var(--avatar-mask); border-radius: var(--avatar-radius);}

/* Avatars in memberlist */
.members-1998pB .wrapper-3t9DeA foreignObject { mask: var(--avatar-mask); border-radius: var(--avatar-radius);}
.members-1998pB .wrapper-3t9DeA > .mask-1l8v16 > rect { /* Random peeps status */
    display: var(--avatar-status);
    mask: none;
    pointer-events: none;
    x: -13; y: 45%;
    width: 6px; height: 6px;
    rx: 3px;
}
.members-1998pB .wrapper-3t9DeA > .mask-1l8v16 > svg > rect { /* User status */
    display: var(--avatar-status);
    mask: none;
    pointer-events: none;
    x: -27; y: -2;
    width: 6px; height: 6px;
    rx: 3px;
}
.wrapper-3t9DeA > .mask-1l8v16 > svg { overflow: visible;}
.avatar-3uk_u9 { margin-left: 3px;}

.avatar-1BDn8e { border-radius: var(--avatar-radius);}