::-webkit-scrollbar {
  display: none;
}
.wrapper_d8bfb3 {
  margin-left: 0;
}
.link_d8bfb3 {
  padding-left: 16px;
  border-radius: 0;
}
.mainContent-20q_Hp {
  padding-left: 8px;
}
.container_b15955,
.container_d808b0 {
  margin: 0;
  max-width: unset;
}
.layout_ec8679,
.layout_d808b0 {
  border-radius: 0;
  padding: 0 16px;
}
.unread_d8bfb3 {
  z-index: 1;
}
.buttons_d0696b {
  padding-right: 10px !important;
}
.typeThread_d8bfb3 .link_d8bfb3 {
  padding-left: 34px;
}
