:root #vc-spotify-player {
  position: relative;
  border-bottom: none;
  padding: 0;
}

/* Album image & infos */
:root #vc-spotify-info-wrapper {
  padding: 0.375rem 0.5rem;
  position: relative;
  z-index: 1;
}

:root #vc-spotify-info-wrapper #vc-spotify-album-image {
  height: 100%;
}

:root #vc-spotify-album-expanded-wrapper {
  position: relative;
  z-index: 1;
  padding: 0.375rem 0.5rem;
}

:root #vc-spotify-album-expanded-wrapper > img {
  border-radius: 8px;
}

/* Progress bar */
:root #vc-spotify-info-wrapper + #vc-spotify-progress-bar {
  position: static;
  margin: 0;
}

:root #vc-spotify-info-wrapper + #vc-spotify-progress-bar .slider__22e99 {
  position: static;
  height: 100%;
}

:root
  #vc-spotify-info-wrapper
  + #vc-spotify-progress-bar
  .slider__22e99
  .bar_e58961 {
  position: absolute;
  top: 0;
  height: 61px !important;
  width: 100%;
  border-radius: 0;
  transition: height 200ms;
}

:root
  #vc-spotify-player:hover
  #vc-spotify-info-wrapper
  + #vc-spotify-progress-bar
  .slider__22e99
  .bar_e58961 {
  height: 95px !important;
}

:root #vc-spotify-progress-bar .slider__22e99 .barFill__30e17 {
  background-color: var(--spotify-color);
  -webkit-mask-image: linear-gradient(0.25turn, #0008, #0002) !important;
  mask-image: linear-gradient(0.25turn, #0008, #0002) !important;
  border-radius: 0;
}

:root
  #vc-spotify-info-wrapper
  + #vc-spotify-progress-bar
  .vc-spotify-progress-time {
  display: none;
}

:root .vc-spotify-button-row {
  position: relative;
  z-index: 1;
}

:root #vc-spotify-progress-bar .sliderContainer__109be .grabber_d2868c {
  top: 0;
  height: 100% !important;
  border-radius: 0;
  opacity: 0;
  z-index: 1;
}

:root #vc-spotify-album-expanded-wrapper + #vc-spotify-progress-bar {
  padding: 0 0.5rem;
  box-sizing: border-box;
}

:root
  #vc-spotify-album-expanded-wrapper
  + #vc-spotify-progress-bar
  .slider__22e99
  .bar_e58961 {
  top: 3px;
  height: 20px !important;
}

:root
  #vc-spotify-album-expanded-wrapper
  + #vc-spotify-progress-bar
  .vc-spotify-time-left {
  left: 0.5rem;
}

:root
  #vc-spotify-album-expanded-wrapper
  + #vc-spotify-progress-bar
  .vc-spotify-time-right {
  right: 0.5rem;
}
