:root {
  // Messages buttons
  .buttons__3766a {
    transition: opacity 150ms;
  }

  // Avatar of the user
  .panels__58331 > .container_ca50b9 > .avatarWrapper_ba5175 {
    position: fixed;
    bottom: 26.5px;
    left: 327.5px;
    z-index: 2;
    margin: 0;
    padding: 0;
    min-width: unset;

    & > .avatar_f8541f {
      width: 40px !important;
      height: 40px !important;

      & > svg {
        contain: unset;
      }

      foreignObject {
        width: 100% !important;
        height: 100% !important;
      }

      .pointerEvents__33f6a {
        x: 31px;
        y: 31px;
        ry: var(--status-radius);
        width: 12px;
        height: 12px;
      }

      &:hover {
        opacity: 1;
      }
      & + .nameTag__0e320 {
        display: none;
      }
    }
  }

  // Hiding avatar
  .content__4bf10 > :nth-child(2):not(.chat__52833),
  .callContainer_e8faeb,
  .gatedContent_ba8306,
  .chat__52833 > .content__1a4fe > .pageContainer__1e84a,
  .forumOrHome__75784 + .content__1a4fe > .container__93316,
  .container__10dc7,
  .background_cb0a80,
  .page__0b66e
  {
    z-index: 2;
  }

  // Chat bar
  .chat__52833 .form__13a2c {
    padding-left: 66px;

    .wrapper_fbbb73 {
      z-index: unset;
    }

    .channelTextArea__2e60f .scrollableContainer__33e06::after,
    .wrapper_fbbb73::after {
      position: absolute;
      content: "";
      bottom: 2px;
      left: -50px;
      width: 40px;
      height: 40px;
      background-color: var(--background-secondary);
      border-radius: calc(var(--avatar-radius) + 2px);
    }
  }

  // Typing indicator
  .typing__6fd1d {
    left: 66px;
    right: 26px;
  }

  // Annoucement bar
  .lookFilled-yCfaCM.colorPrimary-2AuQVo,
  .lookFilled-yCfaCM.colorPrimary-2AuQVo:hover {
    background-color: var(--brand-experiment);
  }

  // Server discovery steps bar
  .container__0ec1a {
    margin-left: 14px;
    margin-bottom: 16px;
    border-radius: 8px;
  }

  // Spam bar
  .spamBanner_adb1b9 {
    position: relative;
    flex-direction: column;
    left: 56px;
    bottom: 8px;
    width: 330px;
    height: fit-content;
    row-gap: 30px;

    .bannerTextContainer_b66f0f {
      min-width: 0;
    }
    .actionButtons__6aed1 {
      justify-content: space-around;
    }
  }

  // Messages error bar
  .messagesErrorBar__06c0a {
    border-radius: 15px;
    padding-bottom: 0;
    margin-bottom: 15px;

    &:active {
      margin-bottom: 14px;
    }
  }

  // New messages
  .newMessagesBar__8b6d7 {
    background-color: var(--background-accent);
    border-radius: 50px;
    margin-top: 5px;
  }

  // Mentions
  .message__80c10.mentioned__58017 {
    background-color: var(--mention-color-background);

    &::before {
      background: var(--mention-color-bar);
      padding: 1px;
    }

    &:hover {
      background-color: var(--mention-color-hover) !important;
    }
  }

  // Channel/User tag
  .wrapper__2d9b1:not([style]) {
    position: relative;
    color: var(--brand-experiment);
    background: transparent;

    &::after {
      content: "";
      opacity: 0.1;
      top: 0;
      left: 0;
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: var(--brand-experiment);
      border-radius: inherit;
    }
  }

  // Going back to new messages
  .jumpToPresentBar__0ff7f,
  .jumpToPresentBar__0ff7f:active {
    margin-bottom: 13px;
    border-radius: 20px;
    padding: 0;
  }

  // # @ / autocomplete menu
  .autocompleteRow_a20cfa {
    padding: 0;

    .base__76a71 {
      border-radius: 0;
    }

    &:first-of-type,
    .option__32fd1 {
      background-color: var(--background-tertiary);
    }
  }
  .autocomplete_df266d {
    background: var(--background-secondary-alt);
  }
  .categoryHeader_f97a5f,
  .autocomplete_df266d {
    background: var(--background-secondary);
  }
  .selected-3H3-RC {
    background: var(--background-primary);
  }

  // -- Emote picker --
  .sprite__294b3 {
    filter: var(--colored-emoji) !important;
  }

  #emoji-picker-tab .contents_fb6220,
  #sticker-picker-tab .contents_fb6220,
  #bd-emotes-tab .contents_fb6220 {
    text-indent: 100%;
    overflow: hidden;
  }

  .navList__9f792 {
    & > *:not(#gif-picker-tab).navButton__05cc7::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      background-size: 100%;
      background-repeat: no-repeat;
    }

    #sticker-picker-tab.navButton__05cc7::after {
      background-image: url("https://i.imgur.com/S79punc.png");
    }
    #emoji-picker-tab.navButton__05cc7::after {
      background-image: url("https://i.imgur.com/YOshExa.png");
    }
    #bd-emotes-tab.navButton__05cc7::after {
      background-image: url("https://i.imgur.com/efz6JwF.png");
    }

    .navButton__05cc7 {
      width: 40px;
      padding: 8px;
    }
  }

  .navButtonActive__735cb,
  .emojiItem_b15dee.emojiItemSelected__1a09a {
    background-color: #6e85d321;
  }

  .imageLoading__37d01 {
    background-image: none !important;
    background-color: var(--background-primary);
    border-radius: 8px;
  }

  .contentWrapper__321ed {
    grid-row-gap: 20px;
    padding-top: 8px;

    .arrow_cb03b8 {
      display: none;
    }
  }

  // Stickers
  .stickerInspected__1c897 .inspectedIndicator_f00108 {
    background-color: #6e85d321;
  }

  // Chat buttons
  .attachButton_eba568 .attachButtonPlus_bf89ca,
  .attachButton_eba568:hover .attachButtonPlus_bf89ca {
    fill: var(--chat-buttons);
  }
  .buttonWrapper__69593,
  .icon__68853 {
    color: var(--chat-buttons);
  }

  // @everyone popout
  .contentWarningPopout__7d8c2 {
    background-color: var(--background-secondary);
  }

  // Reaction popout
  .scroller__5fda0 {
    background: var(--background-tertiary);
  }
  .container_dc03c3,
  .reactors__20ab0 {
    background: var(--background-secondary);
  }
  .reactionSelected__249a7,
  .reactionDefault__792ef:hover {
    margin-right: 6px;
  }
  .reactionSelected__249a7 {
    background-color: #6e85d321;
  }

  // Spotify session
  .invite__2a93b {
    background-color: var(--background-secondary);
    border-color: transparent;
  }

  // Attachement
  .attachment_f3cf2c {
    border: none;
  }

  // Spotify embed
  .embedSpotify_d58077 {
    border-radius: 5px;
  }

  // Discord Gift
  .tile_ebc93b {
    background-color: var(--background-secondary);
  }
  .tileHorizontal_f83028.tile_ebc93b:hover {
    background-color: var(--background-secondary-alt);
  }
  .invalidPoop__03aa3 {
    background-color: rgba(0, 0, 0, 0.103);
  }

  // Spoiler
  .spoilerText-27bIiA.hidden-3B-Rum,
  .spoilerText-27bIiA.hidden-3B-Rum:hover {
    background-color: var(--background-secondary-alt);
  }

  // Audio player
  .wrapperAudio__555ce {
    padding: 10px 0 0 0;
    border-color: transparent;
  }
  .audioMetadata_e546a8 {
    padding: 5px 10px;
  }
  .audioControls__9fbe9 {
    border-radius: 0;
  }

  // HLJS Support
  .hljs.scrollbar_d66c5e {
    background-color: var(--background-secondary) !important;
  }

  // Code
  .markup_a7e664 code {
    background: var(--deprecated-card-bg);
  }

  // Empty channel icon
  .emptyChannelIcon__1a1ba {
    position: relative;
    background-color: transparent;

    &::after {
      content: "";
      opacity: 0.3;
      top: 0;
      left: 0;
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: var(--brand-experiment);
      border-radius: 8px;
    }
  }
}