:root {
  // Messages buttons
  .buttons_d5deea {
    transition: opacity 150ms;
  }

  // Avatar of the user
  .panels_a4d4d9 > .container_b2ca13 > .avatarWrapper_b2ca13 {
    position: fixed;
    bottom: 26.5px;
    left: 327.5px;
    z-index: 2;
    margin: 0;
    padding: 0;
    min-width: unset;

    & > .avatar_b2ca13 {
      width: 40px !important;
      height: 40px !important;

      & > svg {
        contain: unset;
      }

      foreignObject {
        width: 100% !important;
        height: 100% !important;
      }

      .pointerEvents_c51b4e {
        x: 31px;
        y: 31px;
        ry: var(--status-radius);
        width: 12px;
        height: 12px;
      }

      &:hover {
        opacity: 1;
      }
      & + .nameTag_b2ca13 {
        display: none;
      }
    }
  }

  // Hiding avatar
  .content_a4d4d9 > :nth-child(2):not(.chat_a7d72e),
  .callContainer_ed4410,
  .gatedContent_b9693a,
  .chat_a7d72e > .content_a7d72e > .container_a6d69a > .list_a6d69a[data-list-id^='forum-channel-list'],
  .chat_a7d72e > .content_a7d72e > .pageContainer_a9a262,
  .forumOrHome_ff5f90 + .content_a7d72e > .container__93316,
  .container_f1fd9c,
  .background_e85cee,
  .page_d20375
  {
    z-index: 2;
  }

  .chat_a7d72e > .content_a7d72e > .container_a6d69a > .list_a6d69a[data-list-id^='forum-channel-list'] {
    background-color: var(--background-primary);
  }

  // Chat bar
  .chat_a7d72e .form_a7d72e {
    padding-left: 66px;

    .wrapper_faf5ab {
      z-index: unset;
    }

    .channelTextArea_a7d72e .scrollableContainer_d0696b::after,
    .wrapper_faf5ab::after {
      position: absolute;
      content: "";
      bottom: 2px;
      left: -50px;
      width: 40px;
      height: 40px;
      background-color: var(--background-secondary);
      border-radius: calc(var(--avatar-radius) + 2px);
    }
  }

  // Typing indicator
  .typing_d7ebeb {
    left: 66px;
    right: 26px;
  }

  // Annoucement bar
  .lookFilled-yCfaCM.colorPrimary-2AuQVo,
  .lookFilled-yCfaCM.colorPrimary-2AuQVo:hover {
    background-color: var(--brand-experiment);
  }

  // Server discovery steps bar
  .container_d29eee {
    margin-left: 14px;
    margin-bottom: 16px;
    border-radius: 8px;
  }

  // Spam bar
  .spamBanner_c1da2c {
    position: relative;
    flex-direction: column;
    left: 56px;
    bottom: 8px;
    width: 330px;
    height: fit-content;
    row-gap: 30px;

    .bannerTextContainer_c1da2c {
      min-width: 0;
    }
    .actionButtons_c1da2c {
      justify-content: space-around;
    }
  }

  // Messages error bar
  .messagesErrorBar_cf58b5 {
    border-radius: 15px;
    padding-bottom: 0;
    margin-bottom: 15px;

    &:active {
      margin-bottom: 14px;
    }
  }

  // New messages
  .newMessagesBar_cf58b5 {
    background-color: var(--background-accent);
    border-radius: 50px;
    margin-top: 5px;
  }

  // Mentions
  .message_d5deea.mentioned_d5deea {
    background-color: var(--mention-color-background);

    &::before {
      background: var(--mention-color-bar);
      padding: 1px;
    }

    &:hover {
      background-color: var(--mention-color-hover) !important;
    }
  }

  // Channel/User tag
  .wrapper_ed5275:not([style]) {
    position: relative;
    color: var(--brand-experiment);
    background: transparent;

    &::after {
      content: "";
      opacity: 0.1;
      top: 0;
      left: 0;
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: var(--brand-experiment);
      border-radius: inherit;
    }
  }

  // Going back to new messages
  .jumpToPresentBar_cf58b5,
  .jumpToPresentBar_cf58b5:active {
    margin-bottom: 13px;
    border-radius: 20px;
    padding: 0;
  }

  // # @ / autocomplete menu
  .autocompleteRow_f23da8 {
    padding: 0;

    .base_f23da8 {
      border-radius: 0;
    }

    &:first-of-type,
    .option_bea3ee {
      background-color: var(--background-tertiary);
    }
  }
  .autocomplete_f23da8 {
    background: var(--background-secondary-alt);
  }
  .categoryHeader_fe2299,
  .autocomplete_f23da8 {
    background: var(--background-secondary);
  }
  .selected-3H3-RC {
    background: var(--background-primary);
  }

  // -- Emote picker --
  .sprite_af14ca {
    filter: var(--colored-emoji) !important;
  }

  #emoji-picker-tab .contents_dd4f85,
  #sticker-picker-tab .contents_dd4f85,
  #bd-emotes-tab .contents_dd4f85 {
    text-indent: 100%;
    overflow: hidden;
  }

  .navList_af5dbb {
    & > *:not(#gif-picker-tab).navButton_af5dbb::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      background-size: 100%;
      background-repeat: no-repeat;
    }

    #sticker-picker-tab.navButton_af5dbb::after {
      background-image: url("https://i.imgur.com/S79punc.png");
    }
    #emoji-picker-tab.navButton_af5dbb::after {
      background-image: url("https://i.imgur.com/YOshExa.png");
    }
    #bd-emotes-tab.navButton_af5dbb::after {
      background-image: url("https://i.imgur.com/efz6JwF.png");
    }

    .navButton_af5dbb {
      width: 40px;
      padding: 8px;
    }
  }

  .navButtonActive_af5dbb,
  .emojiItem_fbfedd.emojiItemSelected_fbfedd {
    background-color: #6e85d321;
  }

  .imageLoading_b000dd {
    background-image: none !important;
    background-color: var(--background-primary);
    border-radius: 8px;
  }

  .contentWrapper_af5dbb {
    grid-row-gap: 20px;
    padding-top: 8px;

    .arrow_d64d50 {
      display: none;
    }
  }

  // Stickers
  .stickerInspected_a708c4 .inspectedIndicator_a708c4 {
    background-color: #6e85d321;
  }

  // Chat buttons
  .attachButton_d0696b .attachButtonPlus_f298d4,
  .attachButton_d0696b:hover .attachButtonPlus_f298d4 {
    fill: var(--chat-buttons);
  }
  .buttonWrapper_cecf00,
  .icon_cecf00 {
    color: var(--chat-buttons);
  }

  // @everyone popout
  .contentWarningPopout_fa823b {
    background-color: var(--background-secondary);
  }

  // Reaction popout
  .scroller_f2bfbb {
    background: var(--background-tertiary);
  }
  .container_f2bfbb,
  .reactors_f2bfbb {
    background: var(--background-secondary);
  }
  .reactionSelected_f2bfbb,
  .reactionDefault_f2bfbb:hover {
    margin-right: 6px;
  }
  .reactionSelected_f2bfbb {
    background-color: #6e85d321;
  }

  // Spotify session
  .invite_cdcad9 {
    background-color: var(--background-secondary);
    border-color: transparent;
  }

  // Attachement
  .attachment_a4623d {
    border: none;
  }

  // Spotify embed
  .embedSpotify_ad0b71 {
    border-radius: 5px;
  }

  // Discord Gift
  .tile_ab47a1 {
    background-color: var(--background-secondary);
  }
  .tileHorizontal_ab47a1.tile_ab47a1:hover {
    background-color: var(--background-secondary-alt);
  }
  .invalidPoop_ff31dd {
    background-color: rgba(0, 0, 0, 0.103);
  }

  // Spoiler
  .spoilerText-27bIiA.hidden-3B-Rum,
  .spoilerText-27bIiA.hidden-3B-Rum:hover {
    background-color: var(--background-secondary-alt);
  }

  // Audio player
  .wrapperAudio_f316dd {
    padding: 10px 0 0 0;
    border-color: transparent;
  }
  .audioMetadata_f316dd {
    padding: 5px 10px;
  }
  .audioControls_f316dd {
    border-radius: 0;
  }

  // HLJS Support
  .hljs.scrollbar_c858ce {
    background-color: var(--background-secondary) !important;
  }

  // Code
  .markup_d6076c code {
    background: var(--deprecated-card-bg);
  }

  // Empty channel icon
  .emptyChannelIcon_c2668b {
    position: relative;
    background-color: transparent;

    &::after {
      content: "";
      opacity: 0.3;
      top: 0;
      left: 0;
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: var(--brand-experiment);
      border-radius: 8px;
    }
  }
}