:root {
    
// Messages buttons
.buttons-cl5qTG { transition: opacity 150ms;}

// Avatar of the user
.panels-j1Uci_ > .container-3baos1 > .avatarWrapper-2yR4wp[aria-expanded="false"] {
  position: fixed;
  bottom: 26.5px; left: 327.5px;
  z-index: 2; margin: 0;

  & > .avatar-SmRMf2 {
    width: 40px !important;
    height: 40px !important;

    &:hover { opacity: 1;}
  }

  & + .nameTag-3uD-yy { display: none;}
}

// Hiding avatar
.content-98HsJk > :nth-child(2):not(.chat-3bRxxu), .callContainer-3UuV6S, .gatedContent-3-B7qB { z-index: 2;}

// Chat bar
.chat-3bRxxu .form-2fGMdU {
  padding-left: 66px;

  .channelTextArea-rNsIhG .scrollableContainer-2NUZem:after, .wrapper-39oAo3:after {
    position: absolute;
    content: "";
    bottom: 2px; left: -50px;
    width: 40px; height: 40px;
    background-color: var(--background-secondary);
    border-radius: calc(var(--avatar-radius) + 2px);
  }
}

// Typing indicator
.typing-2GQL18 { left: 66px; right: 26px;}

// Annoucement bar
.lookFilled-1Gx00P.colorPrimary-3b3xI6,
.lookFilled-1Gx00P.colorPrimary-3b3xI6:hover {
  background-color: var(--brand-experiment);
}

// Messages error bar
.messagesErrorBar-nyJGU7 {
  border-radius: 15px;
  padding-bottom: 0;
  margin-bottom: 15px;

  &:active { margin-bottom: 14px;}
}

// New messages
.newMessagesBar-265mhP {
  background-color: var(--brand-experiment);
  border-radius: 50px;
  margin-top: 5px;
}

// Mentions
.message-2qnXI6.mentioned-xhSam7 {
  background-color: var(--mention-color-background);

  &::before {
    background: var(--mention-color-bar);
    padding: 1px;
  }

  &:hover { background-color: var(--mention-color-hover) !important;}
}

// Channel/User tag
.wrapper-3WhCwL:not([style]) {
  color: var(--brand-experiment);
  background: transparent;

  &::after { 
    content: ""; opacity: 0.1;
    top: 0; left: 0; z-index: -1;
    position: absolute;
    width: 100%; height: 100%;
    background-color: var(--brand-experiment);
    border-radius: inherit;
  }
}

// Reaction
.reaction-1hd86g {
  border: none;
  border-radius: 5px;
  background-color: var(--background-modifier-active);

  &.reactionMe-wv5HKu {
    position: relative;

    &::after { 
      content: ""; opacity: 0.4;
      top: 0; left: 0; z-index: -1;
      position: absolute;
      width: 100%; height: 100%;
      background-color: var(--brand-experiment);
      border-radius: inherit;
    }
  }
}

// Going back to new messages
.jumpToPresentBar-G1R9s6,
.jumpToPresentBar-G1R9s6:active {
  margin-bottom: 13px;
  border-radius: 20px;
  padding: 0;
}

// # @ / autocomplete menu
.autocompleteRow-2OthDa {
  padding: 0;

  .base-1pYU8j { border-radius: 0;}

  &:first-of-type, .option-1B5ZV8 {
    background-color: var(--background-tertiary);
  }
}
.autocomplete-3l_oCd { background: var(--background-secondary-alt);}
.categoryHeader-O1zU94, .autocomplete-1vrmpx { background: var(--background-secondary);}
.selected-1Tbx07 { background: var(--background-primary);}

// Upload modal
.uploadModal-2ifh8j { 
  background: var(--background-primary);

  .footer-3mqk7D { background: var(--background-tertiary);}
}

// -- Emote picker --
.sprite-2iCowe { filter: var(--colored-emoji) !important;}

#emoji-picker-tab .contents-18-Yxp,
#sticker-picker-tab .contents-18-Yxp,
#bd-emotes-tab .contents-18-Yxp {
  text-indent: 100%;
  overflow: hidden;
}

.navList-2UtuhC {
  & > *:not(#gif-picker-tab).navButton-2gQCx-::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  #sticker-picker-tab.navButton-2gQCx-::after {background-image: url("https://i.imgur.com/S79punc.png");}
  #emoji-picker-tab.navButton-2gQCx-::after { background-image: url("https://i.imgur.com/YOshExa.png");}
  #bd-emotes-tab.navButton-2gQCx-::after { background-image: url("https://i.imgur.com/efz6JwF.png");}

  .navButton-2gQCx- { width: 40px; padding: 8px;}
}

.navButtonActive-1MkytQ, .emojiItem-14v6tW.emojiItemSelected-1aLkfV { background-color: #6e85d321;}

.imageLoading-bpSr0M { 
  background-image: none !important;
  background-color: var(--background-primary);
  border-radius: 8px;
}

.contentWrapper-SvZHNd {
  grid-row-gap: 20px;
  padding-top: 8px;

  .arrow-gKvcEx { display: none;}
}

// Stickers
.stickerInspected-2EM4w- .inspectedIndicator-59EII8 { background-color: #6e85d321;}

// Chat buttons
.attachButton-2WznTc .attachButtonPlus-jWVFah,
.attachButton-2WznTc:hover .attachButtonPlus-jWVFah { fill: var(--chat-buttons);}
.buttonWrapper-1ZmCpA, .icon-3D60ES { color: var(--chat-buttons);}

// @everyone popout
.everyonePopout-nEbJY3 { background-color: var(--background-secondary);}

// Reaction popout
.scroller-1-nKid { background: var(--background-tertiary);}
.container-1If-HZ, .reactors-Blmlhw { background: var(--background-secondary);}
.reactionSelected-1pqISm, .reactionDefault-GBA58K:hover { margin-right: 6px;}
.reactionSelected-1pqISm { background-color: #6e85d321;}
  
// Spotify session
.invite-18yqGF {
  background-color: var(--background-secondary);
  border-color: transparent;
}
  
// Attachement
.attachment-33OFj0 { border: none;}
  
// Spotify embed
.embedSpotify-tvxDCr { border-radius: 5px;}
  
// Discord Gift
.tile-2OwFgW { background-color: var(--background-secondary);}
.tileHorizontal-3eee4N.tile-2OwFgW:hover { background-color: var(--background-secondary-alt);}
.invalidPoop-pnUbq7 { background-color: rgba(0, 0, 0, 0.103);}
  
// Spoiler
.spoilerText-3p6IlD.hidden-HHr2R9,
.spoilerText-3p6IlD.hidden-HHr2R9:hover { background-color: var(--background-secondary-alt);}

// Audio player
.wrapperAudio-1jDe0Q { padding: 10px 0 0 0; border-color: transparent;}
.audioMetadata-3zOuGv { padding: 5px 10px;}
.audioControls-2HsaU6 { border-radius: 0;}

// HLJS Support
.hljs.scrollbar-3dvm_9 { background-color: var(--background-secondary) !important;}

// Code
.markup-2BOw-j code { background: var(--deprecated-card-bg);}

// Empty channel icon
.emptyChannelIcon-cc932w {
  position: relative;
  background-color: transparent;

  &::after {
    content: ""; opacity: 0.3;
    top: 0; left: 0; z-index: -1;
    position: absolute;
    width: 100%; height: 100%;
    background-color: var(--brand-experiment);
    border-radius: 8px;
  }
}

}