:root { 

.container-ZMc96U.themed-Hp1KC_ {
  background: var(--background-secondary);

  .children-3xh0VB::after { background: linear-gradient(90deg,rgba(54, 57, 63, 0) 0, var(--background-secondary));}

  // Search bar
  .search-39IXmY {
    order: 1; margin-left: 4px;

    .search-2Mwzzq:not(.open-1F8u2c) {
      .searchBar-jGtisZ {
        width: 27px;
        transition: 250ms;
        background-color: transparent;

        .iconContainer-1RqWJj {
          transform: scale(1.3);
          transition: 250ms;

          .icon-18rqoe { color: var(--interactive-normal);}
        }
      }

      &:hover .searchBar-jGtisZ {
        width: 220px;
        background-color: var(--background-tertiary);

        .iconContainer-1RqWJj { 
          transform: scale(1);

          .icon-18rqoe { color: var(--text-muted);}
        }
      }
    }
    .searchAnswer-23w-CH, .searchFilter-2UfsDk { background-color: var(--background-primary);}
  }
}

// I'm a pro
[href="https://support.discord.com"] { display: none;}
  
// -- Search bar and modal --
.container-2McqkF {
  background-color: var(--background-secondary-alt);
  box-shadow: none;

  .resultsGroup-1BPR25 .header-3A13BX { text-align: center;}

  .queryContainer-ZunrLZ { background-color: var(--background-tertiary);}

  .option-ayUoaq {
    margin: 0;
    border-radius: 0;

    &::after { background: linear-gradient(90deg,rgba(54, 57, 63, 0), var(--background-secondary-alt) 80%);}
    &.selected-rZcOL- { background: linear-gradient(90deg,rgba(54, 57, 63, 0), var(--background-secondary) 80%);}
  }

  // Calendar
  .calendarPicker-sDhzdi .react-datepicker {
    background-color: var(--background-secondary-alt);

    &__day, &__header {
      background: var(--background-secondary-alt) !important;
      border-color: var(--background-tertiary);
    }
  }

  // I'm still a pro
  a[title="Learn More"] { display: none;}
}

}