:root {
  .container_e44302.themed_e44302 {
    background: var(--background-secondary);

    .children_e44302::after {
      background: linear-gradient(
        90deg,
        rgba(54, 57, 63, 0) 0,
        var(--background-secondary)
      );
    }

    // Search bar
    .search_ff5f90 {
      order: 1;
      margin-left: 4px;

      .search_a46bef:not(.open_a46bef) {
        .searchBar_a46bef {
          width: 27px;
          transition: 250ms;
          background-color: transparent;

          .iconContainer_effbe2 {
            transform: scale(1.3);
            transition: 250ms;

            .icon_effbe2 {
              color: var(--interactive-normal);
            }
          }
        }

        &:hover .searchBar_a46bef {
          width: 220px;
          background-color: var(--background-tertiary);

          .iconContainer_effbe2 {
            transform: scale(1);

            .icon_effbe2 {
              color: var(--text-muted);
            }
          }
        }
      }
      .searchAnswer_b0fa94,
      .searchFilter_b0fa94 {
        background-color: var(--background-primary);
      }
    }
  }

  // I'm a pro
  .toolbar_e44302 > a[href="https://support.discord.com"],
  .searchLearnMore_b0286e {
    display: none;
  }

  // -- Search bar and modal --
  .container_eedf95 {
    background-color: var(--background-secondary-alt);
    box-shadow: none;

    .resultsGroup-1BPR25 .header-3A13BX {
      text-align: center;
    }

    .queryContainer_eedf95 {
      background-color: var(--background-tertiary);
    }

    .option_b0286e {
      margin: 0;
      border-radius: 0;

      &::after {
        background: linear-gradient(
          90deg,
          rgba(54, 57, 63, 0),
          var(--background-secondary-alt) 80%
        );
      }
      &.selected-rZcOL- {
        background: linear-gradient(
          90deg,
          rgba(54, 57, 63, 0),
          var(--background-secondary) 80%
        );
      }
    }

    // Calendar
    .calendarPicker__47c85 .react-datepicker {
      background-color: var(--background-secondary-alt);

      &__day,
      &__header {
        background: var(--background-secondary-alt) !important;
        border-color: var(--background-tertiary);
      }
    }
  }
}
