:root {

// Friend column
.peopleColumn-1wMU14 { background: var(--background-primary);}
  
// Friend activities
.nowPlayingColumn-1eCBCN { 
  background: var(--background-secondary-alt);

  .scroller-hE2gWq { border: none;}

  .itemCard-3Etziu {
    border: none;

    &.active-1xchHY, &.interactive-2zD88a:hover { background: var(--background-secondary);}

    .section-3G9aLW:last-child { margin-top: 10px;}
    .inset-SbsSFp { background: transparent;}
    .applicationStreamingPreviewWrapper-8QqvVY { background-color: var(--background-secondary);}
    .separator-XqIyoz { display: none;}
  }
}

// Friend call buttons
.bottomControls-31YuPK {
  .centerButton-1IShs7 { border-radius: 7px;}
  .colorable-3rVGna.primaryDark-2UJt1G { background: var(--background-secondary-alt);}
  foreignObject { mask: none;}
}
.participantsButton-1WBdFP { background: var(--background-secondary-alt);}

// Regionnal selector friend call
.quickSelect-3BxO0K { margin-top: 10px;}

.quickSelectPopout-X1hvgV.regionSelectPopout-p9-0_W {
  background: var(--background-secondary-alt);
  box-shadow: none;
}

}