:root {
  // Friend column
  .peopleColumn__51df3 {
    background: var(--background-primary);
  }

  // Friend activities
  .nowPlayingColumn_f5023f {
    background: var(--background-secondary-alt);

    .scroller__00e7e {
      border: none;
    }

    .itemCard__1f162 {
      border: none;

      &.active__76f42,
      &.interactive__01cfa:hover {
        background: var(--background-secondary);
      }

      .section_efc22d:last-child {
        margin-top: 10px;
      }
      .inset__0bfb3 {
        background: transparent;
      }
      .applicationStreamingPreviewWrapper__97a95 {
        background-color: var(--background-secondary);
      }
      .separator_c2ecc6 {
        display: none;
      }
    }
  }

  // Friend call buttons
  .bottomControls__8bd89 {
    .centerButton__3205b {
      border-radius: 7px;
    }
    .colorable_c84c4c.primaryDark__6b700 {
      background: var(--background-secondary-alt);
    }
    foreignObject {
      mask: none;
    }
  }
  .participantsButton__56586 {
    background: var(--background-secondary-alt);
  }

  // Regionnal selector friend call
  .quickSelect_ae48d2 {
    margin-top: 10px;
  }

  .quickSelectPopout_c0cf80.regionSelectPopout__0127b {
    background: var(--background-secondary-alt);
    box-shadow: none;
  }
}
