@use "sass:string";

:root {
  .bannerSVGWrapper_b32cc2 mask {
    display: none;
  }

  // -- Member popout --
  .userPopoutOuter_c69a7b {
    max-height: unset !important;

    .userPopoutInner_c69a7b {
      max-height: unset !important;
    }

    // Banner
    .bannerSVGWrapper_b32cc2 {
      overflow: visible;
      min-height: 120px !important;

      foreignObject {
        mask: unset;
      }

      .banner_c3e427 {
        -webkit-mask-image: linear-gradient(#000000a7, #000000a7);
        height: 120px;
      }

      .pencilContainer_c3e427 {
        display: none;
      }

      &[viewBox="0 0 340 60"] foreignObject {
        transform: translateY(-30px);
      }
      &[viewBox="0 0 340 90"] foreignObject {
        transform: translateY(-15px);
      }
    }

    // Avatar
    .avatarWrapper_f89da9 {
      top: 20px !important;
      left: 16px;

      circle {
        display: none;
      }

      .avatarHint_f89da9 {
        border-radius: 5px;

        foreignObject {
          mask: none;
        }
      }

      .avatarDecorationHint_f89da9 {
        border-radius: 5px !important;
        top: 0;
        left: 0;
        width: 80px;
        height: 80px;

        foreignObject {
          mask: none;
        }
      }
    }

    // Username
    .userPopoutOverlayBackground_c69a7b {
      position: static;
      overflow: visible;
      margin: 16px;
      max-height: calc(100vh - 200px);

      .usernameSection_d2b491 {
        & > .copiableNameTag_c9ccf6 > .clickTarget__440f0,
        & > div > .userText_c9ccf6 {
          position: absolute;
          top: 25px;
          left: 115px;
          z-index: 1;
          max-width: 200px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          display: block;

          & > span {
            word-break: unset;
            white-space: unset;
          }
        }
      }
    }
    .profileBadges_f89da9:empty
      + .userPopoutOverlayBackground_c69a7b
      .nickname_c9ccf6 {
      top: 20px;
    }

    // Pronouns
    .pronouns_c9ccf6 {
      padding-top: 12px;
    }

    // Badges
    .profileBadges_f89da9 {
      position: absolute;
      top: 70px;
      left: 110px;
      z-index: 1;
      background-color: transparent;
    }

    // Body
    .userPopoutOverlayBackground_c69a7b {
      .scroller_d2b491 {
        padding-right: 12px !important;
      }

      .section_d7a21f {
        padding-top: 0;
        padding-bottom: 12px;
      }

      // Dividers
      .divider_ae36e5 {
        display: none;
      }

      // -- Activities --
      .activity_e36233 {
        padding: 16px;
        margin-top: 25px;
        z-index: 1;

        .text_aa267a,
        .textRow_d5089b,
        .anchor_af404b,
        .activityName_d5089b {
          color: white;
        }

        .buttonColor_e36233 {
          border: none;
          background-color: var(--listening-test);
          box-shadow: 0 4px 15px #00000021;
          color: #fff;
        }

        // Waves are back :D
        .headerTextNormal_d5089b::before {
          content: "";
          position: absolute;
          height: 25px;
          z-index: 1;
          width: 284px;
          top: -25px;
          left: 0;
          background: var(--background-secondary);
          background: var(--profile-gradient-primary-color);
          -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="284" height="25" viewBox="0 0 284 25"><path d="M283.999 15.2776C228.798 15.2776 211.243 -0.0317305 140.048 -0.000164877C69.0475 -0.000164877 51.2975 15.2776 8.58307e-06 15.2776V24.9998H284C284 24.9998 283.999 18.9392 283.999 15.2776Z"/></svg>');
          animation: animate2 8s linear infinite;
          animation-delay: 0s;
          opacity: 1;

          @keyframes animate2 {
            0% {
              -webkit-mask-position-x: 284px;
            }
            100% {
              -webkit-mask-position-x: 0;
            }
          }
        }

        // Playing
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: -2;
          left: 0;
          top: 0;
          background: #7289da;
          background: var(--playing);
          border-radius: 0 0 10px 10px;
        }

        &::after {
          content: "";
          position: absolute;
          height: 25px;
          z-index: 2;
          width: 284px;
          top: -24px;
          left: 0;
          background: #7289da;
          background: var(--playing);
          -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="284" height="25" viewBox="0 0 284 25"><path d="M283.999 15.2776C228.798 15.2776 211.243 -0.0317305 140.048 -0.000164877C69.0475 -0.000164877 51.2975 15.2776 8.58307e-06 15.2776V24.9998H284C284 24.9998 283.999 18.9392 283.999 15.2776Z"/></svg>');
          animation: animate 6s linear infinite;
          animation-delay: 0s;
          opacity: 1;
        }

        // Spotify
        .timeBarUserPopoutV2_d5089b {
          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            left: 0;
            top: 0;
            background: #1db954;
            background: var(--listening);
            border-radius: 0 0 10px 10px;
          }

          &::after {
            content: "";
            position: absolute;
            height: 25px;
            width: 284px;
            top: -24px;
            left: 0;
            z-index: 3;
            background: #1db653;
            background: var(--listening);
            -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="284" height="25" viewBox="0 0 284 25"><path d="M283.999 15.2776C228.798 15.2776 211.243 -0.0317305 140.048 -0.000164877C69.0475 -0.000164877 51.2975 15.2776 8.58307e-06 15.2776V24.9998H284C284 24.9998 283.999 18.9392 283.999 15.2776Z"/></svg>');
            animation: animate 6s linear infinite;
            animation-delay: 0s;

            @keyframes animate {
              0% {
                -webkit-mask-position-x: 0;
              }
              100% {
                -webkit-mask-position-x: 284px;
              }
            }
          }

          .barInner_aa267a {
            background-color: white;
          }
        }

        .platformIcon_d5089b {
          display: none;
        }
      }

      // Roles
      .role_e4010c {
        position: relative;
        overflow: hidden;
        border: none;
        z-index: 1;

        &:not(.addButton_e4010c) {
          pointer-events: none;
        }

        .roleRemoveButton_f9575e {
          position: static;

          .roleCircle_a26d7b {
            width: var(--role-circle) !important;
            height: var(--role-circle) !important;
            pointer-events: auto;

            &::before {
              position: absolute;
              content: "";
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: inherit;
              opacity: 0.3;
              z-index: -1;
              pointer-events: none;
              transition: background 200ms;
            }

            &:hover {
              background: #fd5959 !important;
            }
          }

          .roleRemoveIcon_e4010c {
            display: none;
          }
        }
      }
    }
  }

  // Roles selector
  .container_ac201b {
    position: relative;
    z-index: 1005;
    border: none;
    padding: 0;
    background-color: #191f2e;

    .container__33507 {
      border-radius: 5px 5px 0 0;
    }

    .list_eef3ef {
      margin: 0;
      padding: 0;

      .item_eef3ef {
        margin: 5px;
        position: relative;
        overflow: hidden;
        border-radius: 0;

        .popoutRoleCircle_f50ea3 {
          width: 0;
          border: none;
          margin: 0;

          &::before {
            position: absolute;
            border-radius: 5px;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: inherit;
            opacity: 0.2;
            z-index: -1;
          }
        }
      }
    }
  }

  // -- User modal --
  .userProfileModalOuter_c69a7b {
    width: 700px;

    .userProfileModalInner_c69a7b {
      overflow: hidden;

      &::before {
        border-radius: 8px;
      }
    }

    .topSection-13QKHs {
      margin-bottom: 0;

      .bannerSVGWrapper_b32cc2 {
        min-height: 160px !important;

        &[viewBox="0 0 600 106"] {
          foreignObject {
            transform: translateY(-22px);
          }
        }

        .banner_c3e427 {
          -webkit-mask-image: linear-gradient(#000000a7, #000000a7);
          height: 160px;
          border-radius: 0;
        }
      }

      .avatar-3QF_VA {
        top: -143px;
      }

      .headerTop-1PNKck {
        flex-direction: column;
        top: -95px;
        left: 165px;

        .badgeList-2aoHPw {
          padding: 0 0 15px 0;
          background-color: transparent;
        }
      }
    }

    .userProfileModalOverlayBackground_c69a7b {
      overflow: visible;

      .container-3g15px > div:first-child {
        position: absolute;
        top: -160px;
        left: 150px;
        z-index: 1;
        font-size: 23px;
        font-weight: 600;
      }
    }

    .mask_c51b4e rect[fill="black"],
    .mask_c51b4e circle[fill="black"] {
      display: none;
    }
    .mask_c51b4e .cursorDefault_c51b4e rect,
    .mask_c51b4e .pointerEvents_c51b4e {
      rx: calc(1px + var(--status-radius));
      ry: calc(1px + var(--status-radius));
    }

    // -- Activities --
    .activityProfileV2_d5089b {
      padding: 16px;
      margin: 12px;
      border-radius: 5px;
      overflow: hidden;
      z-index: 1;

      .headerText_d5089b,
      .activityName_d5089b,
      .null,
      .details_d5089b,
      .name_d5089b,
      .nameNormal_d5089b,
      .nameWrap_d5089b {
        color: white;
      }

      .button_c6eb7b {
        border: none;
        background-color: #ffffff21;
        box-shadow: 0 4px 15px #00000021;
        color: #fff;
      }

      // Playing
      .contentImagesProfileV2_d5089b::after,
      .contentGameImageProfile_d5089b::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -2;
        left: 0;
        top: 0;
        background: #7289da;
      }

      // Spotify
      .timeBarProfileV2_d5089b::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        left: 0;
        top: 0;
        background: #1db954;
      }
      .platformIcon_d5089b {
        display: none !important;
      }
    }

    // Connections
    .connectedAccountContainer_f3eb60 {
      border: solid #000000;
      border-width: 1.2px 1.2px 3px 1.2px;
      border-radius: 4px;
      width: 296px;
      transition: 100ms;

      &:active {
        border-width: 1.2px 1.2px 1.2px 1.2px;
        transform: translateY(1px);
      }

      .connectedAccountIcon_f3eb60 {
        padding: 5px;
        border-radius: 4px;
      }
      .connectedAccountNameContainer_f3eb60 {
        margin-left: 13px;
      }
      .connectedAccountChildren_f3eb60 {
        margin-left: 56px;
      }
    }

    // Mutuals
    .listRow_e4be58 {
      margin: 0;
      padding: 8px 12px;
    }

    .pencilContainer_c3e427 {
      display: none;
    }
  }

  .accountBtnInner-1DCgBm[aria-label="Battle.net"],
  .accountButtonInner_e2a436[aria-label="Battle.net"],
  .accountButtonInner_e2a436[aria-label="Battle.net"]:hover,
  .connectedAccountIcon_f3eb60[aria-label="Battle.net"] {
    background-color: #1da0f248;
  }

  .accountBtnInner-1DCgBm[aria-label="Twitch"],
  .accountButtonInner_e2a436[aria-label="Twitch"],
  .accountButtonInner_e2a436[aria-label="Twitch"]:hover,
  .connectedAccountIcon_f3eb60[aria-label="Twitch"] {
    background-color: #601bd852;
  }

  .accountBtnInner-1DCgBm[aria-label="YouTube"],
  .accountButtonInner_e2a436[aria-label="YouTube"],
  .accountButtonInner_e2a436[aria-label="YouTube"]:hover,
  .connectedAccountIcon_f3eb60[aria-label="YouTube"] {
    background-color: #d9252b49;
  }

  .accountBtnInner-1DCgBm[aria-label="Twitter"],
  .accountButtonInner_e2a436[aria-label="Twitter"],
  .accountButtonInner_e2a436[aria-label="Twitter"]:hover,
  .connectedAccountIcon_f3eb60[aria-label="Twitter"] {
    background-color: #0098e43f;
  }

  .accountBtnInner-1DCgBm[aria-label="Steam"],
  .accountButtonInner_e2a436[aria-label="Steam"],
  .accountButtonInner_e2a436[aria-label="Steam"]:hover,
  .connectedAccountIcon_f3eb60[aria-label="Steam"] {
    background-color: #00000034;
  }

  .accountBtnInner-1DCgBm[aria-label="Reddit"],
  .accountButtonInner_e2a436[aria-label="Reddit"],
  .accountButtonInner_e2a436[aria-label="Reddit"]:hover,
  .connectedAccountIcon_f3eb60[aria-label="Reddit"] {
    background-color: #fe44013d;
  }

  .accountBtnInner-1DCgBm[aria-label="Facebook"],
  .accountButtonInner_e2a436[aria-label="Facebook"],
  .accountButtonInner_e2a436[aria-label="Facebook"]:hover,
  .connectedAccountIcon_f3eb60[aria-label="Facebook"] {
    background-color: #2e328485;
  }

  .accountBtnInner-1DCgBm[aria-label="Spotify"],
  .accountButtonInner_e2a436[aria-label="Spotify"],
  .accountButtonInner_e2a436[aria-label="Spotify"]:hover,
  .connectedAccountIcon_f3eb60[aria-label="Spotify"] {
    background-color: #1ed75f34;
  }

  .accountBtnInner-1DCgBm[aria-label="Xbox"],
  .accountButtonInner_e2a436[aria-label="Xbox"],
  .accountButtonInner_e2a436[aria-label="Xbox"]:hover,
  .connectedAccountIcon_f3eb60[aria-label="Xbox"] {
    background-color: #5dc21e36;
  }

  .accountBtnInner-1DCgBm[aria-label="League of Legends"],
  .accountButtonInner_e2a436[aria-label="League of Legends"],
  .accountButtonInner_e2a436[aria-label="League of Legends"]:hover,
  .connectedAccountIcon_f3eb60[aria-label="League of Legends"] {
    background-color: #cea14638;
  }

  .accountBtnInner-1DCgBm[aria-label="GitHub"],
  .accountButtonInner_e2a436[aria-label="GitHub"],
  .accountButtonInner_e2a436[aria-label="GitHub"]:hover,
  .connectedAccountIcon_f3eb60[aria-label="GitHub"] {
    background-color: #24292e62;
  }

  .accountBtnInner-1DCgBm[aria-label="Skype"],
  .accountButtonInner_e2a436[aria-label="Skype"],
  .accountButtonInner_e2a436[aria-label="Skype"]:hover,
  .connectedAccountIcon_f3eb60[aria-label="Skype"] {
    background-color: #0076d74b;
  }

  .accountBtnInner-1DCgBm[aria-label="Epic Games"],
  .accountButtonInner_e2a436[aria-label="Epic Games"],
  .accountButtonInner_e2a436[aria-label="Epic Games"]:hover,
  .connectedAccountIcon_f3eb60[aria-label="Epic Games"] {
    background-color: #2f2f2f59;
  }

  .accountBtnInner-1DCgBm[aria-label="Riot Games"],
  .accountButtonInner_e2a436[aria-label="Riot Games"],
  .accountButtonInner_e2a436[aria-label="Riot Games"]:hover,
  .connectedAccountIcon_f3eb60[aria-label="Riot Games"] {
    background-color: #eb1c2d38;
  }

  .accountBtnInner-1DCgBm[aria-label="PayPal"],
  .accountButtonInner_e2a436[aria-label="PayPal"],
  .accountButtonInner_e2a436[aria-label="PayPal"]:hover,
  .connectedAccountIcon_f3eb60[aria-label="PayPal"] {
    background-color: #009fe33b;
  }

  .accountBtnInner-1DCgBm[aria-label="TikTok"],
  .accountButtonInner_e2a436[aria-label="TikTok"],
  .accountButtonInner_e2a436[aria-label="TikTok"]:hover,
  .connectedAccountIcon_f3eb60[aria-label="TikTok"] {
    background-color: #64bfc546;
  }

  .accountBtnInner-1DCgBm[aria-label="eBay"],
  .accountButtonInner_e2a436[aria-label="eBay"],
  .accountButtonInner_e2a436[aria-label="eBay"]:hover,
  .connectedAccountIcon_f3eb60[aria-label="eBay"] {
    background-color: #c500003b;
  }

  .accountBtnInner-1DCgBm[aria-label="PlayStation Network"],
  .accountButtonInner_e2a436[aria-label="PlayStation Network"],
  .accountButtonInner_e2a436[aria-label="PlayStation Network"]:hover,
  .connectedAccountIcon_f3eb60[aria-label="PlayStation Network"] {
    background-color: #0051ae53;
  }
}