@use "sass:string";

:root {

// -- Member popout --
.userPopout-2j1gM4 { 
  box-shadow: 0 0 10px 0 #101320d2;

  .headerNormal-3Zn_yu  {
    mask { display: none;}
    .avatarWrapper-eenWra { left: 16px;}
  }
  
  .headerTop-3GPUSF { 
    padding: 54px 16px 16px 16px;
  }

  .body-2wLx-E {
    padding: 0 !important;

    // Custom status
    .customStatus-3XAoF9, .userInfoSection-3her-v { padding-bottom: 16px; margin: 0;}

    // No divider
    .divider-1wtgZ3 { display: none;}

    // -- Activities --
    .bodyInnerWrapper-2bQs1k {
      padding: 0 16px 0 16px;

      .activity-1gTu-L {
        padding: 16px; margin: 21px 0 16px 0; 
        z-index: 1;
    
        .headerText-3g1XK9, .activityName-3YXl6e, 
        .content-tXPNDw, .details-2-ciHo, .name-1-Q7l2, 
        .nameNormal-2fPMD2, .nameWrap-3TyM52 { color: white;}
    
        .button-f2h6uQ {
          border: none;
          background-color: var(--listening-test);
          box-shadow: 0 4px 15px #00000021;
          color: #fff;
        }

        // Waves are back :D
        .headerTextNormal-Z8we9g::before {
          content: ""; position: absolute;
          height: 21px; z-index: 1;
          width: 268px; top: -21px; left: 0;
          background: var(--background-secondary);
          -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="268" height="21" viewBox="0 0 268 21"><path d="M0 21V7.19143C0 7.19143 35.3844 -2.31216 79.4578 0.530784C126.044 1.7492 142.689 13.564 202.466 14.5019C242.561 14.5019 268 7.35388 268 7.35388V21H0Z"/></svg>');
          animation: animate2 4s linear infinite;
          animation-delay: 0s;
          opacity: 1;


          @keyframes animate2 { 0% { -webkit-mask-position-x: 268px; } 100% { -webkit-mask-position-x: 0;}}
        }
    
        // Playing
        &::before {
          content: ""; position: absolute;
          width: 100%; height: 100%; z-index: -2;
          left: 0; top: 0;
          background: #7289da;
          background: var(--playing);
        }

        &::after {
          content: ""; position: absolute;
          height: 21px; z-index: 2;
          width: 268px; top: -21px; left: 0;
          background: #7289da;
          background: var(--playing);
          -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="268" height="21" viewBox="0 0 268 21"><path d="M0 21V7.19143C0 7.19143 35.3844 -2.31216 79.4578 0.530784C126.044 1.7492 142.689 13.564 202.466 14.5019C242.561 14.5019 268 7.35388 268 7.35388V21H0Z"/></svg>');
          animation: animate 6s linear infinite;
          animation-delay: 0s;
          opacity: 1;
        }
    
        // Spotify
        .timeBarUserPopout-qLXZaR {
          &::before {
            content: ""; position: absolute;
            width: 100%; height: 100%; z-index: -1;
            left: 0; top: 0;
            background: #1db954;
            background: var(--listening);
          }

          &::after {
            content: ""; position: absolute;
            height: 21px;
            width: 268px; top: -21px; left: 0; z-index: 3;
            background: #1db653;
            background: var(--listening);
            -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="268" height="21" viewBox="0 0 268 21"><path d="M0 21V7.19143C0 7.19143 35.3844 -2.31216 79.4578 0.530784C126.044 1.7492 142.689 13.564 202.466 14.5019C242.561 14.5019 268 7.35388 268 7.35388V21H0Z"/></svg>');
            animation: animate 6s linear infinite;
            animation-delay: 0s;

            @keyframes animate { 0% { -webkit-mask-position-x: 0;} 100% { -webkit-mask-position-x: 268px;}}
          }
        }

        .platformIcon-k3yytQ { display: none;}

        // Scuffed border-radius
        & + h1 {
          position: relative;

          &::before { 
            content: ""; position: absolute;
            top: -36px; left: -5px; z-index: 1;
            width: 20px; height: 20px;
            border: solid var(--background-tertiary);
            border-width: 0 0 5px 5px;
            border-radius: 0 0 0 16px;
          }

          &::after { 
            content: ""; position: absolute;
            top: -36px; right: -5px; z-index: 1;
            width: 20px; height: 20px;
            border: solid var(--background-tertiary);
            border-width: 0 5px 5px 0;
            border-radius: 0 0 16px 0;
          }
        }
      }

      // Roles
      .role-2TIOKu {
        position: relative;
        overflow: hidden;
        z-index: 1;
        border: solid;
        border-width: 0 0 0 3px;
        border-radius: 1px 3px 3px 1px;

        .roleRemoveButton-17oXnT {
          position: static;

          .roleCircle-3K9O3d  {
            width: var(--role-circle) !important;
            height: var(--role-circle) !important;

            &::before {
              position: absolute;
              content: "";
              top: 0; left: 0;
              width: 100%; height: 100%;
              background: inherit;
              opacity: 0.3;
              z-index: -1;
            }
          }
        }

        
      }
      
      .note-Go5ZP2 { 
        margin: 0;

        .textarea-_59yqs {
          transition: background-color 120ms;

          &:focus { background-color: var(--background-secondary-alt);}
        }
      }
    }
  }

  // Avatar
  .wrapper-1VLyxH { border: none; background: transparent;}
  .avatarHint-k7pYop { display: none;}

  // Footer
  .footer-3naVBw { 
    padding-top: 16px; margin-top: 0;

    .input-2g-os5 { 
      background-color: transparent;
      transition: background-color 120ms;

      &:focus { background-color: var(--background-secondary-alt);}
    }
  }
}

// Roles selector
.container-2O1UgZ {
  z-index: 1003;
  border: none;
  padding: 0;
  background-color: #191f2e;

  .container-2oNtJn { border-radius: 5px 5px 0 0;}

  .list-1MBHYC { 
    margin: 0; padding: 0; 

    .item-1BCeuB {
      margin: 5px;
      position: relative;
      overflow: hidden;
      z-index: 1;
      border-radius: 0;

      .popoutRoleDot-2_Nt5g { 
        width: 0; border: none; margin: 0;

        &::before {
          position: absolute;
          border-radius: 5px;
          content: "";
          top: 0; left: 0;
          width: 100%; height: 100%;
          background: inherit;
          opacity: 0.2;
          z-index: -1;
        }
      }
    }
  }
}

// -- User modal --
.root-8LYsGj { 
  width: 700px;

  .topSection-13QKHs { 
    display: flex; z-index: 1;
    align-items: flex-end;
    background-color: var(--background-secondary);
    box-sizing: border-box;

    // Banner
    .banner-1YaD3N { 
      position: absolute;
      top: 0; left: 0; z-index: -1;
      width: 100%; height: 100%;
      opacity: 0.7; max-width: unset;
    }

    @media (min-height: 720px) { .banner-1YaD3N { height: calc(100% - 240px);}}

    // User info
    & > header {
      display: flex; flex-direction: column-reverse;
      width: 200px;
      background: var(--deprecated-card-bg);
      padding: 15px; margin: 20px 0 0 20px;
      border-radius: 5px 5px 0 0;

      // Avatar
      .avatar-3QF_VA {
        position: absolute;
        top: -215px; left: 50%;
        margin-left: -65px; border: none;
        background: none;
        width: 130px !important;
        height: 130px !important;
      }

      .header-S26rhB {
        .mask-1FEkla .pointerEvents-9SZWKj { display: none;}
        .mask-1FEkla foreignObject {
          mask: none;
          border-radius: var(--avatar-radius);
        }

        .headerTop-1PNKck { 
          position: static;
          padding: 0;
          flex-direction: column;

          .badgeList-2aoHPw { 
            justify-content: center;
            padding-right: 0;

            & > div { margin: 6px;}
          }

          .relationshipButtons-3ByBpj {
            display: grid;
            grid-template-areas: "botButton friendButton"
                                 "threeDots .";
            margin-top: 15px;

            // Bot add button
            .applicationInstallButton-1-58qm { grid-area: botButton;}

            // Add or chat with friend
            .actionButton-iarQTd { grid-area: friendButton;}

            // Three dots
            div[role="button"] {
              grid-area: threeDots;
              grid-column: 1/3;
              justify-self: center;

              .additionalActionsIcon-3Cy8UU { 
                transform: rotate(90deg);
                margin: 8px 0 0 0;
              }
            }
          }
        }
      }

      .nameTag-2Nlmsy {
        margin: 160px 0 10px 0;
        display: flex; flex-direction: column;
        gap: 5px;

        .botTag-7aX5WZ { display: none;}
      }

      .customStatusActivity-WKWGD- {
        position: fixed; display: flex;
        align-items: center; justify-content: center;
        top: 20px; left: 280px; bottom: calc(100% - 240px);
        width: calc(100% - 300px);
        padding: 0;

        .customStatusText-_4TbWr { 
          font-size: 22px;

          .customStatus-kFfkj5 { 
            display: flex; flex-direction: column;
            align-items: center; gap: 15px;
            color: white; text-align: center;

            .customStatusEmoji-3Oq9Rm { width: 40px; height: 40px;}
            .customStatusSoloEmoji-3m_35_ { width: 80px; height: 80px;}
          }
        }
      }
    }
  }

  // Infos / Server / Friends
  .tabBarContainer-sCZC4w:not(.flex-2S1XBF) {
    flex: 1; border-bottom: none;
    padding-left: 0;

    .tabBar-2hXqzU {
      justify-content: center;

      // Only works on Replugged for now
      .tabBarItem-30Te4-[data-item-id="USER_INFO"],
      .tabBarItem-30Te4-[data-item-id="MUTUAL_GUILDS"],
      .tabBarItem-30Te4-[data-item-id="MUTUAL_FRIENDS"],
      .tabBarItem-30Te4-[data-item-id="ACTIVITY"],
      .tabBarItem-30Te4-[data-item-id="BOT_DATA_ACCESS"] {
        text-indent: 100%;
        overflow: hidden;
        margin: 0 30px;
        width: 30px;

        &::after {
          position: absolute;
          content: "";
          width: 30px; height: 30px;
          background-size: 100%;
          background-repeat: no-repeat;
        }
      }

      .tabBarItem-30Te4-[data-item-id="USER_INFO"]::after { background-image: url("https://i.imgur.com/j3heWkd.png");}
      .tabBarItem-30Te4-[data-item-id="MUTUAL_GUILDS"]::after { background-image: url("https://i.imgur.com/9NdcVkI.png");}
      .tabBarItem-30Te4-[data-item-id="MUTUAL_FRIENDS"]::after { background-image: url("https://i.imgur.com/sHQ1yhw.png");}
      .tabBarItem-30Te4-[data-item-id="ACTIVITY"]::after { background-image: url("https://i.imgur.com/Twq232A.png");}
      .tabBarItem-30Te4-[data-item-id="BOT_DATA_ACCESS"]::after { background-image: url("https://i.imgur.com/G8hF6A7.png");}
    }
  }
  .noTabBar-2Q-iE_ { border-top: none;}

  // Body
  .body-1Ukv50 { 
    z-index: 1;
    background-color: var(--background-secondary);
  }

  .pc-connections .connectedAccounts-1YaT2t:empty::before { background-color: transparent;}

  // -- Activities --
  .activityProfile-1712BN { 
    padding: 16px; margin: 12px;
    border-radius: 5px;
    overflow: hidden; z-index: 1;

    .headerText-3g1XK9, .activityName-3YXl6e, .content-tXPNDw, 
    .details-2-ciHo, .name-1-Q7l2, .nameNormal-2fPMD2, .nameWrap-3TyM52  { color: white;}

    .button-TGAkj4 {
      border: none;
      background-color: #ffffff21;
      box-shadow: 0 4px 15px #00000021;
      color: #fff;
    }

    // Playing
    .contentImagesProfile-27BIzt::after,
    .contentGameImageProfile-24ty00::after {
      content: ""; position: absolute;
      width: 100%; height: 100%; z-index: -2;
      left: 0; top: 0;
      background: #7289da;
    }

    // Spotify
    .timeBarProfile-1z_HH-::after {
      content: ""; position: absolute;
      width: 100%; height: 100%; z-index: -1;
      left: 0; top: 0;
      background: #1db954;
    }
    .platformIcon-k3yytQ { display: none !important;}
  }

  // Connections
  .connectedAccountContainer-SlCC-S {
    border: solid #151b27;
    border-width: 1.2px 1.2px 3px 1.2px;
    border-radius: 4px;
    width: 296px;
    transition: 100ms;

    &:active {
      border-width: 1.2px 1.2px 1.2px 1.2px;
      transform: translateY(1px);
    }

    .connectedAccountIcon-1FXG0p { padding: 5px; border-radius: 4px;}
    .connectedAccountNameContainer-EXbBUQ { margin-left: 13px;}
  }

  // Mutuals
  .listRow-2nO1T6 { margin: 0; padding: 8px 12px;}
}

.accountBtnInner-3ttD-i[aria-label="Battle.net"],
.accountBtnInner-3ttD-i[aria-label="Battle.net"]:hover,
[src="/assets/37f15a06d062bdd0fc252d2b35d0b0bb.svg"] { background-color: #1da0f248;}

.accountBtnInner-3ttD-i[aria-label="Twitch"],
.accountBtnInner-3ttD-i[aria-label="Twitch"]:hover,
[src="/assets/ca71e0b8818221eea1deebbaf8dc6518.svg"] { background-color: #601bd852;}

.accountBtnInner-3ttD-i[aria-label="YouTube"],
.accountBtnInner-3ttD-i[aria-label="YouTube"]:hover,
[src="/assets/57ee9535485efae7eb923ed4893abb57.svg"] { background-color: #d9252b49;}

.accountBtnInner-3ttD-i[aria-label="Twitter"],
.accountBtnInner-3ttD-i[aria-label="Twitter"]:hover,
[src="/assets/85cf2b49d2a185c98ec8e383ad5a05d6.svg"] { background-color: #0098e43f;}

.accountBtnInner-3ttD-i[aria-label="Steam"],
.accountBtnInner-3ttD-i[aria-label="Steam"]:hover,
[src="/assets/d897626dfa2016ea3ad0af935acb6070.svg"] { background-color: #00000034;}

.accountBtnInner-3ttD-i[aria-label="Reddit"],
.accountBtnInner-3ttD-i[aria-label="Reddit"]:hover,
[src="/assets/f3224f560c8f5974355596a4f7e9ce19.svg"] { background-color: #fe44013d;}

.accountBtnInner-3ttD-i[aria-label="Facebook"],
.accountBtnInner-3ttD-i[aria-label="Facebook"]:hover,
[src="/assets/32045743cb7670855ae726743c949e0c.svg"] { background-color: #2e328485;}

.accountBtnInner-3ttD-i[aria-label="Spotify"],
.accountBtnInner-3ttD-i[aria-label="Spotify"]:hover,
[src="/assets/eaeac24163b35f7526704a3d9b3c7722.svg"] { background-color: #1ed75f34;}

.accountBtnInner-3ttD-i[aria-label="Xbox"],
.accountBtnInner-3ttD-i[aria-label="Xbox"]:hover,
[src="/assets/1fa6585cbb8c0fe21188e26d19fc6609.svg"] { background-color: #5dc21e36;}

.accountBtnInner-3ttD-i[aria-label="League Of Legends"],
.accountBtnInner-3ttD-i[aria-label="League Of Legends"]:hover,
[src="/assets/94dc6f30a819026fa295d85f1f72b4ab.svg"] { background-color: #cea14638;}

.accountBtnInner-3ttD-i[aria-label="GitHub"],
.accountBtnInner-3ttD-i[aria-label="GitHub"]:hover,
[src="/assets/6a853b4c87fce386cbfef4a2efbacb09.svg"] { background-color: #24292e62;}

.accountBtnInner-3ttD-i[aria-label="Skype"],
.accountBtnInner-3ttD-i[aria-label="Skype"]:hover,
[src="/assets/316ed923548387f8983e28a3804e6712.svg"] { background-color: #0076d74b;}

.accountBtnInner-3ttD-i[aria-label="Epic Games"],
.accountBtnInner-3ttD-i[aria-label="Epic Games"]:hover,
[src="/assets/db9e2406158133f91e1fe24bb56425c2.svg"] { background-color: #2f2f2f59;}

.accountBtnInner-3ttD-i[aria-label="Riot Games"],
.accountBtnInner-3ttD-i[aria-label="Riot Games"]:hover,
[src="/assets/b5f1b2f99801cae913e1181bcab0153c.svg"] { background-color: #eb1c2d38;}

.accountBtnInner-3ttD-i[aria-label="PayPal"],
.accountBtnInner-3ttD-i[aria-label="PayPal"]:hover,
[src="/assets/cd538a7ff4cdd66dc377863e809c33bb.svg"] { background-color: #009fe33b;}

// USRBG
.banner-1YaD3N {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: var(--user-popout-position, center) center;
    background-image: var(--user-background);
}

.banner-1YaD3N  { height: 120px;}

}