@use "sass:string";

:root {

.bannerSVGWrapper-qc0szY mask { display: none;}

// -- Member popout --
.userPopoutOuter-3AVBmJ {
  max-height: unset !important;
  
  .userPopoutInner-1hXSeY {
    max-height: unset !important;
  }

  // Banner
  .bannerSVGWrapper-qc0szY {
    overflow: visible;
    min-height: 120px !important;

    foreignObject { mask: unset;}

    .banner-2boKnS { height: 120px;}

    .pencilContainer-11Kuga { display: none;}

    &[viewBox="0 0 340 60"] foreignObject { transform: translateY(-30px);}
    &[viewBox="0 0 340 90"] foreignObject { transform: translateY(-15px);}
  }

  // Avatar
  .avatarWrapper-3y0KZ1 { 
    top: 20px;
    left: 16px;

    circle { display: none;}

    .avatarHint-2g3Mcd {
      border-radius: 5px;

      foreignObject { mask: none;}
    }

    .avatarDecorationHint-GIo7Yh {
      width: 80px; height: 80px;
      top: 0px; left: 0px;
      border-radius: 5px !important;
    
      foreignObject { mask: none;}
    }
  }

  // Username
  .userPopoutOverlayBackground-dKOOda {
    position: static; overflow: visible;
    margin: 16px; max-height: calc(100vh - 200px);

    .usernameSection-2d814A {

      & > .copiableNameTag-1BpMX8, 
      & > div > .userText-148fun > .nickname-2rimyL, 
      & > div > .userText-148fun > .userTagNoNickname-2MJ9HD { 
        position: absolute;
        top: 30px; left: 115px;
        z-index: 1;
        max-width: 200px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;

        & > span {
          word-break: unset;
          white-space: unset;
        }
      }
    }
    
  }
  .profileBadges-31rDHI:empty + .userPopoutOverlayBackground-dKOOda .nickname-2rimyL {
    top: 20px;
  }

  // Badges
  .profileBadges-31rDHI {
    position: absolute;
    top: 60px; left: 110px;
    z-index: 1; background-color: transparent;
  }

  // Body
  .userPopoutOverlayBackground-dKOOda {
    .scroller-1jBQYo { padding-right: 12px !important;}

    .section-3FmfOT { 
      padding-top: 0; 
      padding-bottom: 12px;
    }

    // Nickname
    .userTagWithNickname-3-znkC { padding-top: 12px;}
    
    // Dividers
    .divider-1tWBgZ { display: none;}
    .scrollerSeparator-3MxsAq { box-shadow: none;}

    // No divider
    .divider-1wtgZ3 { display: none;}

    // -- Activities --
    .activity-E0U09Y {
      padding: 16px; margin-top: 21px; 
      z-index: 1;
  
      .headerText-3g1XK9, .activityName-3YXl6e, 
      .content-tXPNDw, .details-2-ciHo, .name-1-Q7l2, 
      .nameNormal-2fPMD2, .nameWrap-3TyM52 { color: white;}
  
      .button-f2h6uQ {
        border: none;
        background-color: var(--listening-test);
        box-shadow: 0 4px 15px #00000021;
        color: #fff;
      }

      // Waves are back :D
      .headerTextNormal-Z8we9g::before {
        content: ""; position: absolute;
        height: 21px; z-index: 1;
        width: 284px; top: -21px; left: 0;
        background: var(--background-secondary);
        -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="268" height="21" viewBox="0 0 268 21"><path d="M0 21V7.19143C0 7.19143 35.3844 -2.31216 79.4578 0.530784C126.044 1.7492 142.689 13.564 202.466 14.5019C242.561 14.5019 268 7.35388 268 7.35388V21H0Z"/></svg>');
        animation: animate2 4s linear infinite;
        animation-delay: 0s;
        opacity: 1;

        @keyframes animate2 { 0% { -webkit-mask-position-x: 268px; } 100% { -webkit-mask-position-x: 0;}}
      }
  
      // Playing
      &::before {
        content: ""; position: absolute;
        width: 100%; height: 100%; z-index: -2;
        left: 0; top: 0;
        background: #7289da;
        background: var(--playing);
        border-radius: 0 0 10px 10px;
      }

      &::after {
        content: ""; position: absolute;
        height: 21px; z-index: 2;
        width: 284px; top: -20px; left: 0;
        background: #7289da;
        background: var(--playing);
        -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="268" height="21" viewBox="0 0 268 21"><path d="M0 21V7.19143C0 7.19143 35.3844 -2.31216 79.4578 0.530784C126.044 1.7492 142.689 13.564 202.466 14.5019C242.561 14.5019 268 7.35388 268 7.35388V21H0Z"/></svg>');
        animation: animate 6s linear infinite;
        animation-delay: 0s;
        opacity: 1;
      }
  
      // Spotify
      .timeBarUserPopoutV2-32DL06 {
        &::before {
          content: ""; position: absolute;
          width: 100%; height: 100%; z-index: -1;
          left: 0; top: 0;
          background: #1db954;
          background: var(--listening);
          border-radius: 0 0 10px 10px;
        }

        &::after {
          content: ""; position: absolute;
          height: 21px;
          width: 284px; top: -20px; left: 0; z-index: 3;
          background: #1db653;
          background: var(--listening);
          -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="268" height="21" viewBox="0 0 268 21"><path d="M0 21V7.19143C0 7.19143 35.3844 -2.31216 79.4578 0.530784C126.044 1.7492 142.689 13.564 202.466 14.5019C242.561 14.5019 268 7.35388 268 7.35388V21H0Z"/></svg>');
          animation: animate 6s linear infinite;
          animation-delay: 0s;

          @keyframes animate { 0% { -webkit-mask-position-x: 0;} 100% { -webkit-mask-position-x: 268px;}}
        }
      }

      .platformIcon-k3yytQ { display: none;}
    }

    // Roles
    .role-2TIOKu {
      position: relative;
      overflow: hidden;
      border: none;
      z-index: 1;

      .roleRemoveButton-17oXnT {
        position: static;

        .roleCircle-3K9O3d  {
          width: var(--role-circle) !important;
          height: var(--role-circle) !important;

          &::before {
            position: absolute;
            content: "";
            top: 0; left: 0;
            width: 100%; height: 100%;
            background: inherit;
            opacity: 0.3;
            z-index: -1;
          }
        }
        .roleRemoveIcon-387wKV { 
          position: absolute; 
          top: calc(50% + var(--role-circle) / 2); left: 13px;
          
          width: var(--role-circle) !important;
          height: var(--role-circle) !important;
        }
      }
    }
  }
}

// Roles selector
.container-2O1UgZ {
  position: relative;
  z-index: 1005;
  border: none;
  padding: 0;
  background-color: #191f2e;

  .container-2oNtJn { border-radius: 5px 5px 0 0;}

  .list-1MBHYC { 
    margin: 0; padding: 0; 

    .item-1BCeuB {
      margin: 5px;
      position: relative;
      overflow: hidden;
      border-radius: 0;

      .popoutRoleCircle-3TfOkj { 
        width: 0; border: none; margin: 0;

        &::before {
          position: absolute;
          border-radius: 5px;
          content: "";
          top: 0; left: 0;
          width: 100%; height: 100%;
          background: inherit;
          opacity: 0.2;
          z-index: -1;
        }
      }
    }
  }
}

// -- User modal --
.userProfileModalOuter-1FYL8T { 
  width: 700px;

  .topSection-1Khgkv {
    margin-bottom: 0;
    
    .bannerSVGWrapper-qc0szY {
      min-height: 160px !important;
    
      &[viewBox="0 0 600 106"] {
        foreignObject {
          transform: translateY(-22px);
        }
      }

      .banner-2boKnS { 
        height: 160px;
      }
    }

    .avatar-1YsFQ1 {
      top: -143px;
    }

    .headerTop-212g15 {
      flex-direction: column;
      top: -100px; left: 155px;

      .badgeList-2pMvZX {
        padding: 0 0 10px 0; background-color: transparent;
      }
    }
  }

  .userProfileModalOverlayBackground-8p3-eU {
    overflow: visible;

    .nameTag-2ysfG3 { 
      position: absolute;
      top: -150px; left: 140px;
      z-index: 1; font-size: 23px;
      font-weight: 600;
    }
  }

  .mask-1FEkla rect[fill="black"], .mask-1FEkla circle[fill="black"] { display: none;}
  .mask-1FEkla .cursorDefault--wfhy5 rect, .mask-1FEkla .pointerEvents-9SZWKj {
    rx: calc(1px + var(--status-radius)) !important;
    ry: calc(1px + var(--status-radius));
  }

  // -- Activities --
  .activityProfileV2-1N7pee { 
    padding: 16px; margin: 12px;
    border-radius: 5px;
    overflow: hidden; z-index: 1;

    .headerText-3g1XK9, .activityName-3YXl6e, .content-tXPNDw, 
    .details-2-ciHo, .name-1-Q7l2, .nameNormal-2fPMD2, .nameWrap-3TyM52  { color: white;}

    .button-TGAkj4 {
      border: none;
      background-color: #ffffff21;
      box-shadow: 0 4px 15px #00000021;
      color: #fff;
    }

    // Playing
    .contentImagesProfile-27BIzt::after,
    .contentGameImageProfile-24ty00::after {
      content: ""; position: absolute;
      width: 100%; height: 100%; z-index: -2;
      left: 0; top: 0;
      background: #7289da;
    }

    // Spotify
    .timeBarProfileV2-14KewZ::after {
      content: ""; position: absolute;
      width: 100%; height: 100%; z-index: -1;
      left: 0; top: 0;
      background: #1db954;
    }
    .platformIcon-k3yytQ { display: none !important;}
  }

  // Connections
  .connectedAccountContainer-2TWiXT {
    border: solid #000000;
    border-width: 1.2px 1.2px 3px 1.2px;
    border-radius: 4px;
    width: 296px;
    transition: 100ms;

    &:active {
      border-width: 1.2px 1.2px 1.2px 1.2px;
      transform: translateY(1px);
    }

    .connectedAccountIcon-2szOw- { padding: 5px; border-radius: 4px;}
    .connectedAccountNameContainer-3v4pIj { margin-left: 13px;}
    .connectedAccountChildren-2jEgw3 { margin-left: 56px;}
  }

  // Mutuals
  .listRow-Y5zoF8 { margin: 0; padding: 8px 12px;}
}

.accountBtnInner-1DCgBm[aria-label="Battle.net"],
.accountButtonInner-33vCDY[aria-label="Battle.net"],
.accountButtonInner-33vCDY[aria-label="Battle.net"]:hover,
.connectedAccountIcon-2szOw-[aria-label="Battle.net"] { background-color: #1da0f248;}

.accountBtnInner-1DCgBm[aria-label="Twitch"],
.accountButtonInner-33vCDY[aria-label="Twitch"],
.accountButtonInner-33vCDY[aria-label="Twitch"]:hover,
.connectedAccountIcon-2szOw-[aria-label="Twitch"] { background-color: #601bd852;}

.accountBtnInner-1DCgBm[aria-label="YouTube"],
.accountButtonInner-33vCDY[aria-label="YouTube"],
.accountButtonInner-33vCDY[aria-label="YouTube"]:hover,
.connectedAccountIcon-2szOw-[aria-label="YouTube"] { background-color: #d9252b49;}

.accountBtnInner-1DCgBm[aria-label="Twitter"],
.accountButtonInner-33vCDY[aria-label="Twitter"],
.accountButtonInner-33vCDY[aria-label="Twitter"]:hover,
.connectedAccountIcon-2szOw-[aria-label="Twitter"] { background-color: #0098e43f;}

.accountBtnInner-1DCgBm[aria-label="Steam"],
.accountButtonInner-33vCDY[aria-label="Steam"],
.accountButtonInner-33vCDY[aria-label="Steam"]:hover,
.connectedAccountIcon-2szOw-[aria-label="Steam"] { background-color: #00000034;}

.accountBtnInner-1DCgBm[aria-label="Reddit"],
.accountButtonInner-33vCDY[aria-label="Reddit"],
.accountButtonInner-33vCDY[aria-label="Reddit"]:hover,
.connectedAccountIcon-2szOw-[aria-label="Reddit"] { background-color: #fe44013d;}

.accountBtnInner-1DCgBm[aria-label="Facebook"],
.accountButtonInner-33vCDY[aria-label="Facebook"],
.accountButtonInner-33vCDY[aria-label="Facebook"]:hover,
.connectedAccountIcon-2szOw-[aria-label="Facebook"] { background-color: #2e328485;}

.accountBtnInner-1DCgBm[aria-label="Spotify"],
.accountButtonInner-33vCDY[aria-label="Spotify"],
.accountButtonInner-33vCDY[aria-label="Spotify"]:hover,
.connectedAccountIcon-2szOw-[aria-label="Spotify"] { background-color: #1ed75f34;}

.accountBtnInner-1DCgBm[aria-label="Xbox"],
.accountButtonInner-33vCDY[aria-label="Xbox"],
.accountButtonInner-33vCDY[aria-label="Xbox"]:hover,
.connectedAccountIcon-2szOw-[aria-label="Xbox"] { background-color: #5dc21e36;}

.accountBtnInner-1DCgBm[aria-label="League of Legends"],
.accountButtonInner-33vCDY[aria-label="League of Legends"],
.accountButtonInner-33vCDY[aria-label="League of Legends"]:hover,
.connectedAccountIcon-2szOw-[aria-label="League of Legends"] { background-color: #cea14638;}

.accountBtnInner-1DCgBm[aria-label="GitHub"],
.accountButtonInner-33vCDY[aria-label="GitHub"],
.accountButtonInner-33vCDY[aria-label="GitHub"]:hover,
.connectedAccountIcon-2szOw-[aria-label="GitHub"] { background-color: #24292e62;}

.accountBtnInner-1DCgBm[aria-label="Skype"],
.accountButtonInner-33vCDY[aria-label="Skype"],
.accountButtonInner-33vCDY[aria-label="Skype"]:hover,
.connectedAccountIcon-2szOw-[aria-label="Skype"] { background-color: #0076d74b;}

.accountBtnInner-1DCgBm[aria-label="Epic Games"],
.accountButtonInner-33vCDY[aria-label="Epic Games"],
.accountButtonInner-33vCDY[aria-label="Epic Games"]:hover,
.connectedAccountIcon-2szOw-[aria-label="Epic Games"] { background-color: #2f2f2f59;}

.accountBtnInner-1DCgBm[aria-label="Riot Games"],
.accountButtonInner-33vCDY[aria-label="Riot Games"],
.accountButtonInner-33vCDY[aria-label="Riot Games"]:hover,
.connectedAccountIcon-2szOw-[aria-label="Riot Games"] { background-color: #eb1c2d38;}

.accountBtnInner-1DCgBm[aria-label="PayPal"],
.accountButtonInner-33vCDY[aria-label="PayPal"],
.accountButtonInner-33vCDY[aria-label="PayPal"]:hover,
.connectedAccountIcon-2szOw-[aria-label="PayPal"] { background-color: #009fe33b;}

.accountBtnInner-1DCgBm[aria-label="TikTok"],
.accountButtonInner-33vCDY[aria-label="TikTok"],
.accountButtonInner-33vCDY[aria-label="TikTok"]:hover,
.connectedAccountIcon-2szOw-[aria-label="TikTok"] { background-color: #64bfc546;}

.accountBtnInner-1DCgBm[aria-label="eBay"],
.accountButtonInner-33vCDY[aria-label="eBay"],
.accountButtonInner-33vCDY[aria-label="eBay"]:hover,
.connectedAccountIcon-2szOw-[aria-label="eBay"] { background-color: #c500003b;}

.accountBtnInner-1DCgBm[aria-label="PlayStation Network"],
.accountButtonInner-33vCDY[aria-label="PlayStation Network"],
.accountButtonInner-33vCDY[aria-label="PlayStation Network"]:hover,
.connectedAccountIcon-2szOw-[aria-label="PlayStation Network"] { background-color: #0051ae53;}

// USRBG
.banner-2boKnS {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: var(--user-popout-position, center) center;
  background-image: var(--user-background);
}
}