:root {
  // GameActivity support
  #GameActivityToggleBtn .st0 {
    fill: var(--user-buttons-color);
  }

  // Game Activity Toggle
  #status-picker [aria-label="Hide Game Activity"]::after,
  #status-picker [aria-label="Show Game Activity"]::after {
    content: "Not supported in this area";
  }

  // CustomStatusPresets
  #status-picker .submenuContainer-3EVTeH {
    grid-column: 1/5;
  }

  // PermisssionViewer, thx _david_
  #permissions-modal-wrapper {
    #permissions-modal {
      box-shadow: none !important;
      border: none !important;
    }

    .header {
      background: var(--background-tertiary) !important;
      text-align: center !important;
    }

    .role-side,
    .perm-side {
      background: var(--background-secondary) !important;
    }
  }

  // Member Count
  #MemberCount {
    background-color: var(--background-secondary) !important;
  }

  // BetterDiscord Server folder
  .guilds_a4d4d9.content-Pph8t6
    + .base_a4d4d9
    .panels_a4d4d9
    > .container_b2ca13
    > .avatarWrapper_b2ca13 {
    transition: margin-left 300ms linear;
  }
  .guilds_a4d4d9.content-Pph8t6:not(.closed-j55_T-)
    + .base_a4d4d9
    .panels_a4d4d9
    > .container_b2ca13
    > .avatarWrapper_b2ca13 {
    margin-left: 72px;
  }

  // Vencord Sever folder
  .vc-bf-folder-sidebar
    + .base_a4d4d9
    .panels_a4d4d9
    > .container_b2ca13
    > .avatarWrapper_b2ca13 {
    transition: margin-left 300ms linear;
  }
  .vc-bf-folder-sidebar
    + .base_a4d4d9
    .panels_a4d4d9
    > .container_b2ca13
    > .avatarWrapper_b2ca13 {
    margin-left: 72px;
  }

  // Hide Channels
  .sidebar_a4d4d9 .avatarWrapper_b2ca13 {
    transition: margin-left 400ms ease;
  }
  .sidebar_a4d4d9.hideChannelElement .avatarWrapper_b2ca13 {
    margin-left: -240px;
  }

  // UserBackground
  .root-8LYsGj .UserBackgrounds-banner-container {
    position: static;

    .UserBackgrounds-banner-badge {
      top: 13px;
      right: 50px;
    }
  }
}
