:root {
  // Server list
  .guilds_a4d4d9 .scroller_fea3ef {
    contain: none !important;
    padding-bottom: 170px;
  }

  // Folder
  .expandedFolderBackground_bc7085 {
    border-radius: var(--server-radius);
  }
  .folder_bc7085 {
    background-color: transparent;
  }

  // Discover
  .discoverHeader_b992d4 ~ .categoryItem_c72b37 {
    margin-left: 0;

    .itemInner_c72b37 {
      padding: 8px;
      border-radius: 0;
    }
  }

  .pageWrapper_a3a4ce {
    background-color: var(--background-primary);

    .scroller-3j5xK2 {
      padding: 0 !important;
    }

    .headerImage-2D5D-v {
      position: relative;
      top: -8px;
      border-radius: 0;
      -webkit-mask: linear-gradient(black, transparent);
    }

    .guildListSection_c8c448 {
      padding: 0 32px 32px;
      box-sizing: border-box;
    }
  }

  .scroller_a39aa3 {
    padding: 0 !important;

    .headerImage_a39aa3 {
      position: relative;
      top: -8px;
      border-radius: 0;
      -webkit-mask: linear-gradient(black, transparent);
    }

    .guildListSection_ac51fa,
    .footerDescription_a39aa3 {
      padding: 0 32px 32px;
      box-sizing: border-box;
    }
  }

  .css-bcsufo-menu {
    background: var(--background-secondary-alt);
  }

  .css-1a1o7fb-control,
  .css-2dw5y-control,
  .css-p0ralp-control {
    background: var(--background-secondary);
  }

  // Student Hubs
  .itemInner__2abad {
    padding: 8px;
    margin-left: 0;
  }

  .header_d33b18 {
    margin: -32px -32px 0 -32px;
    border-radius: 0;

    .headerImage_d33b18 {
      border-radius: 0;
      -webkit-mask: linear-gradient(black, transparent);
    }
  }

  // Create a server modal
  .theme-light {
    .root_f9a4c9,
    .footer_f9a4c9 {
      box-shadow: none;
    }
    .lookFilled_dd4f85.colorPrimary_dd4f85 {
      background-color: var(--brand-experiment);
    }
    .contents_dd4f85 {
      color: #fff;
    }

    .templatesList_fc9dae,
    .optionsList_f5507e {
      padding: 0 !important;
      border-radius: 0;

      .container_a47d49 {
        border: none;
        border-radius: 0;
      }

      .optionHeader_fc9dae {
        text-align: center;
        margin: 12px 0;
      }
    }
    .createGuild_c1ee6b {
      padding: 10px !important;
    }
  }

  // User buttons
  .panels_a4d4d9 {
    z-index: 2;
  }

  .panels_a4d4d9 > .container_b2ca13 {
    height: 0;

    & > .flex_dc333f {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 72px;
      padding: 20px 0 10px 0;
      flex-direction: column;
      background: linear-gradient(transparent, var(--background-tertiary) 15%);

      & > .button_adca65 {
        color: var(--user-buttons-color);
        margin: var(--user-buttons-spacing) auto 0 auto;
      }
    }
  }

  // Notifications settings
  .inner-1ilYF7 > .modal_c97cbd > .header_f9a4c9,
  .modal_c97cbd,
  .inner-1ilYF7 > .modal_c97cbd > .scrollerBase_eed6a8 {
    background: var(--background-secondary);
  }

  // Mention gradient
  .unreadMentionsBar_fea3ef .text_edf32f {
    display: none;
  }

  // Top
  .unreadMentionsIndicatorTop_fea3ef {
    width: 100%;
    height: 50px;
    top: -7px;
    padding: 0;

    .unreadMentionsBar_fea3ef {
      border-radius: 0;
      background: linear-gradient(var(--mention-color), #0000);
      transition: 100ms;

      &:active {
        background: linear-gradient(var(--mention-color), #0000);
      }
    }
  }

  // Bottom
  .unreadMentionsIndicatorBottom_fea3ef {
    width: 100%;
    height: 15px;
    padding: 0;

    .unreadMentionsBar_fea3ef {
      border-radius: 0;
      background: linear-gradient(#0000, var(--mention-color));

      &:active {
        background: linear-gradient(#0000, var(--mention-color));
      }
    }
  }

  // Mention pill
  .lowerBadge_c5f96a {
    top: 0;
    left: 0;

    .numberBadge__40d6f {
      background-color: var(--mention-color) !important;

      &::before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: inherit;
        border-radius: 100%;
        z-index: -1;
        animation: var(--disable-animations), 2s pulse infinite;
        will-change: transform;
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.75);
    opacity: 0;
  }
}