:root {
  // Server list
  .guilds__2b93a .scroller__3d071 {
    contain: none !important;
    padding-bottom: 170px;
  }

  // Folder
  .expandedFolderBackground__1bec6 {
    border-radius: var(--server-radius);
  }
  .folder__17546 {
    background-color: transparent;
  }

  // Discover
  .discoverHeader_fae7fd ~ .categoryItem_b1be5c {
    margin-left: 0;

    .itemInner__9e755 {
      padding: 8px;
      border-radius: 0;
    }
  }

  .pageWrapper_fef757 {
    background-color: var(--background-primary);

    .scroller-3j5xK2 {
      padding: 0 !important;
    }

    .headerImage-2D5D-v {
      position: relative;
      top: -8px;
      border-radius: 0;
      -webkit-mask: linear-gradient(black, transparent);
    }

    .guildListSection__5b7bf {
      padding: 0 32px 32px;
      box-sizing: border-box;
    }
  }

  .scroller_e9501c {
    padding: 0 !important;

    .headerImage_d4505b {
      position: relative;
      top: -8px;
      border-radius: 0;
      -webkit-mask: linear-gradient(black, transparent);
    }

    .guildListSection__7daf6,
    .footerDescription__7d0c6 {
      padding: 0 32px 32px;
      box-sizing: border-box;
    }
  }

  .css-bcsufo-menu {
    background: var(--background-secondary-alt);
  }

  .css-1a1o7fb-control,
  .css-2dw5y-control,
  .css-p0ralp-control {
    background: var(--background-secondary);
  }

  // Student Hubs
  .itemInner_f3a769 {
    padding: 8px;
    margin-left: 0;
  }

  .header__7b78f {
    margin: -32px -32px 0 -32px;
    border-radius: 0;

    .headerImage__0cf36 {
      border-radius: 0;
      -webkit-mask: linear-gradient(black, transparent);
    }
  }

  // Create a server modal
  .theme-light {
    .root_a28985,
    .footer__89240 {
      box-shadow: none;
    }
    .lookFilled__19298.colorPrimary__6ed40 {
      background-color: var(--brand-experiment);
    }
    .contents_fb6220 {
      color: #fff;
    }

    .templatesList__38838,
    .optionsList__047e8 {
      padding: 0 !important;
      border-radius: 0;

      .container__73245 {
        border: none;
        border-radius: 0;
      }

      .optionHeader_b6da7f {
        text-align: center;
        margin: 12px 0;
      }
    }
    .createGuild_eb084b {
      padding: 10px !important;
    }
  }

  // User buttons
  .panels__58331 {
    z-index: 2;
  }

  .panels__58331 > .container_ca50b9 {
    height: 0;

    & > .flex_f5fbb7 {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 72px;
      padding: 20px 0 10px 0;
      flex-direction: column;
      background: linear-gradient(transparent, var(--background-tertiary) 15%);

      & > .button__4f306 {
        color: var(--user-buttons-color);
        margin: var(--user-buttons-spacing) auto 0 auto;
      }
    }
  }

  // Notifications settings
  .inner-1ilYF7 > .modal__060da > .header__6d5ea,
  .modal__060da,
  .inner-1ilYF7 > .modal__060da > .scrollerBase_dc3aa9 {
    background: var(--background-secondary);
  }

  // Mention gradient
  .unreadMentionsBar__0d02a .text__467e0 {
    display: none;
  }

  // Top
  .unreadMentionsIndicatorTop_ada847 {
    width: 100%;
    height: 50px;
    top: -7px;
    padding: 0;

    .unreadMentionsBar__0d02a {
      border-radius: 0;
      background: linear-gradient(var(--mention-color), #0000);
      transition: 100ms;

      &:active {
        background: linear-gradient(var(--mention-color), #0000);
      }
    }
  }

  // Bottom
  .unreadMentionsIndicatorBottom_fdb943 {
    width: 100%;
    height: 15px;
    padding: 0;

    .unreadMentionsBar__0d02a {
      border-radius: 0;
      background: linear-gradient(#0000, var(--mention-color));

      &:active {
        background: linear-gradient(#0000, var(--mention-color));
      }
    }
  }

  // Mention pill
  .lowerBadge__669e7 {
    top: 0;
    left: 0;

    .numberBadge__50328 {
      background-color: var(--mention-color) !important;

      &::before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: inherit;
        border-radius: 100%;
        z-index: -1;
        animation: var(--disable-animations), 2s pulse infinite;
        will-change: transform;
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.75);
    opacity: 0;
  }
}
