:root {
  // Server list
  .guilds-2JjMmN .scroller-3X7KbA {
    contain: none !important;
    padding-bottom: 170px;
  }

  // Folder
  .expandedFolderBackground-1kSAf6 {
    border-radius: var(--server-radius);
  }
  .folder-241Joy {
    background-color: transparent;
  }

  // Discover
  .discoverHeader-1vsvZ0 ~ .categoryItem-Kc_HK_ {
    margin-left: 0;

    .itemInner-3e_4G4 {
      padding: 8px;
      border-radius: 0;
    }
  }

  .pageWrapper-2PwDoS {
    background-color: var(--background-primary);

    .scroller-3j5xK2 {
      padding: 0 !important;
    }

    .headerImage-2D5D-v {
      position: relative;
      top: -8px;
      border-radius: 0;
      -webkit-mask: linear-gradient(black, transparent);
    }

    .guildListSection-3UxZHY {
      padding: 0 32px 32px;
      box-sizing: border-box;
    }
  }

  .scroller-RfJjkV {
    padding: 0 !important;

    .headerImage-1c8Lrb {
      position: relative;
      top: -8px;
      border-radius: 0;
      -webkit-mask: linear-gradient(black, transparent);
    }

    .guildListSection-27K5In,
    .footerDescription-3D1fe9 {
      padding: 0 32px 32px;
      box-sizing: border-box;
    }
  }

  .css-bcsufo-menu {
    background: var(--background-secondary-alt);
  }

  .css-1a1o7fb-control,
  .css-2dw5y-control,
  .css-p0ralp-control {
    background: var(--background-secondary);
  }

  // Student Hubs
  .itemInner-3k3Sn6 {
    padding: 8px;
    margin-left: 0;
  }

  .header-224ffR {
    margin: -32px -32px 0 -32px;
    border-radius: 0;

    .headerImage-Xy5R7m {
      border-radius: 0;
      -webkit-mask: linear-gradient(black, transparent);
    }
  }

  // Create a server modal
  .theme-light {
    .root-1CAIjD,
    .footer-IubaaS {
      box-shadow: none;
    }
    .lookFilled-yCfaCM.colorGrey-2iAG-B {
      background-color: var(--brand-experiment);
    }
    .contents-3ca1mk {
      color: #fff;
    }

    .templatesList-uohY49,
    .optionsList-dmHy1l {
      padding: 0 !important;
      border-radius: 0;

      .container-x8Y1ix {
        border: none;
        border-radius: 0;
      }

      .optionHeader-27AHfD {
        text-align: center;
        margin: 12px 0;
      }
    }
    .createGuild-2m1V10 {
      padding: 10px !important;
    }
  }

  // User buttons
  .panels-3wFtMD {
    z-index: 2;
  }

  .panels-3wFtMD > .container-YkUktl {
    height: 0;

    & > .flex-2S1XBF {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 72px;
      padding: 20px 0 10px 0;
      flex-direction: column;
      background: linear-gradient(transparent, var(--background-tertiary) 15%);

      & > .button-12Fmur {
        color: var(--user-buttons-color);
        margin: var(--user-buttons-spacing) auto 0 auto;
      }
    }
  }

  // Notifications settings
  .inner-1ilYF7 > .modal-2RrUKJ > .header-1ffhsl,
  .modal-2RrUKJ,
  .inner-1ilYF7 > .modal-2RrUKJ > .scrollerBase-1Pkza4 {
    background: var(--background-secondary);
  }

  // Mention gradient
  .unreadMentionsBar-ZXXoOH .text-2GsXbW {
    display: none;
  }

  // Top
  .unreadMentionsIndicatorTop-2bTgUU {
    width: 100%;
    height: 50px;
    top: -7px;
    padding: 0;

    .unreadMentionsBar-ZXXoOH {
      border-radius: 0;
      background: linear-gradient(var(--mention-color), #0000);
      transition: 100ms;

      &:active {
        background: linear-gradient(var(--mention-color), #0000);
      }
    }
  }

  // Bottom
  .unreadMentionsIndicatorBottom-3RJMnQ {
    width: 100%;
    height: 15px;
    padding: 0;

    .unreadMentionsBar-ZXXoOH {
      border-radius: 0;
      background: linear-gradient(#0000, var(--mention-color));

      &:active {
        background: linear-gradient(#0000, var(--mention-color));
      }
    }
  }

  // Mention pill
  .lowerBadge-3j0ZAg {
    top: 0;
    left: 0;

    .numberBadge-37OJ3S {
      background-color: var(--mention-color) !important;

      &::before {
        content: "";
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: inherit;
        border-radius: 100%;
        z-index: -1;
        animation: var(--disable-animations), 2s pulse infinite;
        will-change: transform;
      }
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.75);
    opacity: 0;
  }
}
