:root { 

// -- 👤 USER SETTINGS --

// Wide settings
.contentRegion-3nDuYy { flex: 1 1 100%;}
.contentColumn-2hrIYH, .customColumn-Rb6toI,
.sidebarScrollable-1qPI87 + .content-1rPSz4,
.customScroller-26gWhv > div { max-width: 95%;}

.sidebar-CFHs9e {
  padding: 60px 0 35px 65px;
  width: 285px;
}

.sidebar-CFHs9e > div > .item-PXvHYJ,
#bd-settings-sidebar .ui-tab-bar-item {
  padding: 8px 0 8px 10px;
  border-radius: 5px 0 0 5px;
}

.closeButton-1tv5uR { border-radius: 5px;}
.keybind-KpFkfr { display: none;}

// My account
.accountProfileCard-1XCH88 {
  background-color: var(--background-secondary);

  .avatar-1uQSZT {
    border-color: transparent;
    border-width: 9px 0;
    background-color: transparent;

    .pointerEvents-2zdfdO { 
      x: 66px; y: 66px; 
      width: 20px; height: 20px;
      rx: calc(var(--status-radius) + 1px) !important;
      stroke: var(--background-secondary);
      stroke-width: 4px;
    }
  }

  .background-1QDuV2 { margin-right: 0;}
}

// User Profile
.profileCustomizationSection-1-Issy .baseLayout-NX_bpH {
  & > :first-child { flex: 2 auto;}

  // Avatar
  .avatarUploaderInner-mAGe3e { 
    border: none;
    border-radius: var(--avatar-radius);
    background-color: transparent;

    .avatarUploaderIcon-3UIzEQ { display: none;}
  }

  .headerTop-3vNv-a { padding-top: 54px;}

  .popoutInfo-1A9dyK {
    padding: 0 0 16px 0;

    .customStatus-oN4ZZY { 
      padding: 0 12px 12px 16px; margin-bottom: 0;
      background-color: var(--background-tertiary);
    }

    .divider-ewBQKj { display: none;}

    .aboutMeSection-1Fw5Ia { 
      padding: 0 12px 16px 16px;
      background-color: var(--background-tertiary);
    }

    // Activity
    & > div[aria-hidden="true"]:last-child {
      position: relative;
      margin: 37px 16px 0 16px; padding: 16px;
      background-color: #7289da;
      border-radius: 0 0 5px 5px;

      .colorStandard-2KCXvj, h3 { color: white;}

      &::before {
        content: ""; position: absolute;
        height: 21px; z-index: 2;
        width: 268px; top: -21px; left: 0;
        background: #7289da;
        background: var(--playing);
        -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="268" height="21" viewBox="0 0 268 21"><path d="M0 21V7.19143C0 7.19143 35.3844 -2.31216 79.4578 0.530784C126.044 1.7492 142.689 13.564 202.466 14.5019C242.561 14.5019 268 7.35388 268 7.35388V21H0Z"/></svg>');
        animation: animate 6s linear infinite;
        animation-delay: 0s;
        opacity: 1;
      }

      .fakeActivityTitle-ka26mT::before {
        content: ""; position: absolute;
        height: 21px; z-index: 1;
        width: 268px; top: -21px; left: 0;
        background: var(--background-secondary);
        -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="268" height="21" viewBox="0 0 268 21"><path d="M0 21V7.19143C0 7.19143 35.3844 -2.31216 79.4578 0.530784C126.044 1.7492 142.689 13.564 202.466 14.5019C242.561 14.5019 268 7.35388 268 7.35388V21H0Z"/></svg>');
        animation: animate2 4s linear infinite;
        animation-delay: 0s;
        opacity: 1;

        @keyframes animate { 0% { -webkit-mask-position-x: 0;} 100% { -webkit-mask-position-x: 268px;}}
        @keyframes animate2 { 0% { -webkit-mask-position-x: 268px; } 100% { -webkit-mask-position-x: 0;}}
      }
    }
  }
}

// Authorized apps
.cardPrimaryOutline-29Ujqw { background-color: var(--background-secondary);}

// Connections
.connectionIcon-2ElzVe { border-radius: 5px; padding: 4px;}

// Nitro
.premiumLabel-fDtYys {
  flex-direction: row-reverse; justify-content: flex-end;

  svg { margin-right: 8px;}
}

.hero-EvfTTA { max-width: unset;}
.featuresHeader-4YwLcc { text-align: center;}

// Boost
.gemIndicatorContainer-2jdECl { background-color: var(--background-tertiary);}

// Billing
.paymentRow-2e7VM6, .pageActions-1SVAnA, .codeRedemptionRedirect-1wVR4b { background: var(--background-secondary-alt);}
.payment-xT17Mq:hover { background-color: var(--background-secondary);}
.expandedInfo-3kfShd { background: var(--background-secondary);}
.checked-3_4uQ9 { background: transparent; border-color: transparent;}
.bottomDivider-1K9Gao { border-bottom-color: transparent;}

// Voice & Video
.userSettingsVoice-iwdUCU .previewOverlay-2O7_KC { background: var(--background-secondary-alt);}
.userSettingsVoice-iwdUCU .children-rWhLdy > :nth-child(9) .flexChild-faoVW3:last-child { flex: 1 !important;}

// Game Activity
.notDetected-33MY4s, .addGamePopout-2RY8Ju { background: var(--background-secondary-alt);}
.gameNameInput-385LoS:hover, .gameNameInput-385LoS:focus { background: var(--background-secondary-alt); border: none;}
.game-1ipmAa { 
  box-shadow: 0 1px 0 0 var(--background-secondary); 

  .removeGame-2JFGPn { 
    top: -3px; right: -5px;
    border-radius: 5px;
  }
}
.css-17e1tep-control { border: none;}

// Comfy icon
.socialLinks-3jqNFy::after {
  content: ""; position: absolute;
  width: 28px; height: 28px; margin-top: -7px;
  background: url("https://nyri4.github.io/Comfy/assets/bonfire.gif") center/cover no-repeat;
}

// --------------------------- ⚙️ SERVER SETTINGS ---------------------------

// Overview
.bannerUpsellContainer-1KrLvE { background-color: var(--background-secondary);}
.flexChild-faoVW3[style="flex: 1 1 50%;"] { flex: 1 !important;}

// Modifications notification
.noticeRegion-1YviSH { 
  max-width: unset; right: 0;

  .container-2VW0UT { background: var(--background-tertiary) !important;}
}

// Roles
.colorPickerCustom-2CWBn2, .container-cMG81i {
  background: var(--background-secondary);
  border-radius: 5px;
}

.roleRow-30TwGe { 
  margin: 5px 0;
  background-color: var(--background-secondary);

  &:last-child { border-radius: 4px 4px 0 0;}

  &::before { display: none;}
}

.sidebar-dLM-kh { 
  border: none;

  .list-I3aHXn {
    padding: 0 20px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 0;

    .item-PXvHYJ {
      border-radius: 5px;
      margin-bottom: 6px; padding-left: 20px;

      .roleDot-ZwSovK { 
        width: 0;

        &::before {
          position: absolute;
          border-radius: 5px;
          content: "";
          top: 0; left: 8px;
          width: calc(100% - 8px); height: 100%;
          background: inherit;
          opacity: 0.2;
          z-index: -1;
          transition: opacity 200ms;
        }
      }
      .roleName-2IkRdr { margin-left: 0;}
    }
  }

  .item-PXvHYJ:hover:not(.disabled-1Hwwfb), .topPill-30KHOu .item-PXvHYJ:hover:not(.disabled-1Hwwfb),
  .selected-3s45Ha.item-PXvHYJ, .topPill-30KHOu .selected-3s45Ha.item-PXvHYJ {
    background: none;

    .roleDot-ZwSovK::after { 
      position: absolute;
      border-radius: 3px;
      content: "";
      top: 0.5px; bottom: 0.5px; left: -3px;
      width: 8px;
      background: inherit;
      z-index: -1;
      transition: opacity 200ms;
    }
  }

  .item-PXvHYJ:hover:not(.disabled-1Hwwfb), .topPill-30KHOu .item-PXvHYJ:hover:not(.disabled-1Hwwfb)
  { 
    background: none;
    
    .roleDot-ZwSovK::before, .roleDot-ZwSovK::after { opacity: 0.3;}
  }

  .selected-3s45Ha.item-PXvHYJ, .topPill-30KHOu .selected-3s45Ha.item-PXvHYJ 
  { 
    background: none;
    
    .roleDot-ZwSovK::before, .roleDot-ZwSovK::after { opacity: 0.5 !important;}
  }
}

.contentWidth-xLB44s { 
  max-width: unset;

  .previewContainer-1KQDJS { 
    border: none;

    .theme-light { display: none;}
    .messageContainer-1DiFnQ { background-color: var(--background-secondary);}
  }
}

// Emoji
.banner-1QYBBN { max-width: unset;}

div.emojiRow-3pAGQS { 
  display: inline-grid;
  grid-template-areas: "image name"
                       "uploader uploader";
  height: unset;
  box-shadow: none;
  row-gap: 32px; column-gap: 16px;
  margin: 0 8px 8px 0;
  background-color: var(--background-secondary);
  border-radius: 8px; overflow: hidden;

  &::before { 
    top: -5px; height: calc(50% + 10px);
    background-color: var(--background-secondary-alt);
    border-radius: 0;
  }

  .emojiImage-13nmUx {
    grid-area: image;
    width: 40px; height: 40px;
  }

  .flexChild-faoVW3 { 
    grid-area: name;
    margin: 0;
  }

  .emojiUploader-3-VyOH { 
    grid-area: uploader;
    margin-left: 0;
  }

  .emojiRemove-1g13zb { 
    top: unset; bottom: -25px;
    right: 5px; opacity: 1;
    border-radius: 8px;
    transition: 200ms bottom;
  }

  &:hover .emojiRemove-1g13zb { bottom: 5px;}
}

.emojiAliasInput-1y-NBz .emojiInput-1aLNse { background: var(--background-secondary);}
.card-FDVird {
  box-shadow: none;
  padding: 16px;

  &::before {
    left: 0; right: 0;
    background: var(--background-secondary);
    border-color: transparent;
    opacity: 1; margin: 5px 0;
  }
}
.inputWrapper-31_8H8 {
  width: unset;

  .input-cIJ7To { border: none;}
}

// Audit logs
.headerClickable-2IVFo9,
.headerDefault-1wrJcN,
.headerExpanded-CUEwZ5 {
  background: var(--background-secondary);
  border-radius: 8px;
}
.auditLog-2ph_aK {
  border: none;

  .headerClickable-g5d9lT {
    background-color: var(--background-secondary-alt);
    border-radius: 8px;
  }

  .headerExpanded-2egR38 { 
    background-color: var(--background-secondary-alt);
    border-radius: 8px 8px 0 0;
  }

  .changeDetails-2dV5gP { 
    background-color: var(--background-secondary);
    border-radius: 0 0 8px 8px;
  }
  .divider-1tf9AP { display: none;}
}

// Integrations
.card-o7rAq-, .header-146Xl5 { border: none;}
.body-1zRX82, .cardPrimaryEditable-3KtE4g { background: var(--background-secondary); border: none;}

// Widget
.copyInput-2rOSt7 { border: none;}

// Overview
.css-gvi9bl-control, .css-6fzn47-control { border: none;}
.css-3vaxre-menu { background: var(--background-secondary-alt); border: none;}

// Activate community modal
.css-dwar6a-menu { background-color: var(--background-secondary-alt);}

// Membership Screening
.editableFieldsContainer-1LYE1s { width: unset;}

// Welcome screen
.channelIcon-1eKmlw, .channelIcon-g61PDh { background: var(--background-secondary-alt);}
.descriptionInput-3b30C8 { background: var(--background-secondary-alt); border: none;}

// Server Boost Status
.serverBoostTabItem-3vujbv > div {
  flex-direction: row-reverse; justify-content: flex-end;

  .icon-21VyCF { margin-right: 8px;}
}

.tierBody-3aUxuc { background: var(--background-secondary);}
.tierHeaderContent-3t3DoO, .tierInProgress-3mBoXq { background: var(--background-secondary-alt);}
.background-3xPPFc { color: var(--background-secondary-alt);}
.subscribers-34Wiok .subscriberMask-2keJDX { margin-right: 8px;}

// Members
.member-1q7VfX:nth-child(3) { margin-top: 10px;}
.overflowRolesPopout-140n9i { background: var(--background-secondary);}

}