:root {
  ::-webkit-scrollbar {
    display: none;
  }
  .wrapper__7bcde {
    margin-left: 0;
  }
  .link__95dc0 {
    padding-left: 16px;
    border-radius: 0;
  }
  .mainContent-20q_Hp {
    padding-left: 8px;
  }
  .container__8759a,
  .container__4f20e {
    margin: 0;
    max-width: unset;
  }
  .layout__59abc,
  .layout_bb8e67 {
    border-radius: 0;
    padding: 0 16px;
  }
  .unread__48cf4 {
    z-index: 1;
  }
  .buttons_ce5b56 {
    padding-right: 10px !important;
  }
  .typeThread__2f91c .link__95dc0 {
    padding-left: 34px;
  }
}
